#   <font color='blue'> WeRateDogs Twitter Data Wrangling </font>

## Introduction

The dataset that I will be wrangling (and analyzing and visualizing) is the tweet archive of Twitter user @dog_rates, also known as WeRateDogs. WeRateDogs is a Twitter account that rates people's dogs with a humorous comment about the dog. These ratings almost always have a denominator of 10. The numerators, though? Almost always greater than 10. 11/10, 12/10, 13/10, etc. Why? Because "they're good dogs Brent." WeRateDogs has over 4 million followers and has received international media coverage.


### Data wrangling process


The process takes place in 3 steps:

    * Gather 
    * Assess 
    * Clean 

We can assess data for:
    * Quality: issues with content. Low quality data is also known as dirty data.
    * Tidiness: issues with structure that prevent easy analysis. Untidy data is also known as messy data. 
Tidy data requirements:
    1.	Each variable forms a column.
    2.	Each observation forms a row.
    3.	Each type of observational unit forms a table.

...using two types of assessment:
    * Visual assessment: scrolling through the data in your preferred software application (Google Sheets, Excel, a text editor, etc.).
    * Programmatic assessment: using code to view specific portions and summaries of the data (pandas' head, tail, and info methods, for example).


Rules to follow when wrangling this data
      
    * We only want original ratings (no retweets) that have images. Though there are 5000+ tweets in the dataset, not all are dog ratings and some are retweets.

    * The fact that the rating numerators are greater than the denominators does not need to be cleaned. This unique rating system is a big part of the popularity of WeRateDogs.

##  Gather

In [87]:
# import pckages
import pandas as pd
import requests
import json
import numpy as np
import seaborn as sns
import matplotlib.pyplot as plt
from IPython.display import Image
% matplotlib inline

1. Load twitter-archive-enhanced csv file in which data extracted from @dog_rates user tweets are stored. The archive from which this data is extracted contains basic tweet data (tweet ID, timestamp, text, etc.) for all 5000+ of its tweets as they stood on August 1, 2017.

In [2]:
tw = pd.read_csv('twitter-archive-enhanced.csv')

2. Using 'requests' package, download image-predictions tsv file, save it in the current dirrectory, then load it as a padas dataframe in the notebook.

In [3]:
filename = 'image-predictions.tsv'
url =  'https://d17h27t6h515a5.cloudfront.net/topher/2017/August/599fd2ad_image-predictions/image-predictions.tsv'
response = requests.get(url)
with open(filename, 'wb') as fd:
        fd.write(response.content)

In [3]:
im = pd.read_csv('image-predictions.tsv', sep=('\t'))

3. Gathering more data about @dog_rates user tweets than that stored in twitter-archive-enhanced.csv file. For This I will use the tweepy library.

In [5]:
# by this code, a tweeter API object is created. It will be used to gather tweeter data
import tweepy

consumer_key = ''
consumer_secret = ''
access_token = ''
access_secret = ''

auth = tweepy.OAuthHandler(consumer_key, consumer_secret)
auth.set_access_token(access_token, access_secret)

api = tweepy.API(auth, wait_on_rate_limit = True, wait_on_rate_limit_notify = True)

In [6]:
# Get all tweet ids in the tw table.
tw_ids = tw.tweet_id
tw_ids.nunique()

2356

In [62]:
# Tweet data is stored in JSON format by Twitter.
# This code get the tweet JSON data via tweet ID 
  
with open('tweet_json.txt', 'w') as f:
    for tweet_id in tw_ids:
        try:
            tweet = api.get_status(tweet_id, tweet_mode = 'extended') 
            json.dump(tweet._json, f)
            f.write('\n') # Retour à la ligne
        except:
            continue

Rate limit reached. Sleeping for: 85
Rate limit reached. Sleeping for: 729

In [4]:
#I will extract tweet id, retweet_count, favorite_count and truncated
# data from the extansion tweet data and I will stored them in a pandas dataframe. 

# retweet_count: Number of times this Tweet has been retweeted

# favorite_count: Indicates approximately how many times this Tweet has been liked by Twitter users. 


# truncated: Indicates whether the value of the text parameter was truncated, for example, 
# as a result of a retweet exceeding the original Tweet text length limit of 140 characters. 
# Truncated text will end in ellipsis, like this ... 
# Since Twitter now rejects long Tweets vs truncating them, 
# the large majority of Tweets will have this set to false . 
# Note that while native retweets may have their toplevel text property shortened, 
# the original text will be available under the retweeted_status object and 
# the truncated parameter will be set to the value of the original status (in most cases, false ).
# Perhaps I will use truncated variable to show more tweet text if needed.

tw_ext = pd.DataFrame(columns = {'tweet_id','retweet_count','favorite_count','truncated'} )

with open('tweet_json.txt', 'r') as f:
        for line in f:
            tweet = json.loads(line)
            tweet_id = tweet['id']
            retweet_count = tweet['retweet_count']
            favorite_count = tweet['favorite_count']
            truncated = tweet['truncated']
            tw_ext = tw_ext.append({'tweet_id':tweet_id, 'retweet_count':retweet_count,
                'favorite_count':favorite_count, 'truncated': truncated}, ignore_index=True)

In [39]:
tweet

{'created_at': 'Sun Nov 15 22:32:08 +0000 2015',
 'id': 666020888022790149,
 'id_str': '666020888022790149',
 'full_text': 'Here we have a Japanese Irish Setter. Lost eye in Vietnam (?). Big fan of relaxing on stair. 8/10 would pet https://t.co/BLDqew2Ijj',
 'truncated': False,
 'display_text_range': [0, 131],
 'entities': {'hashtags': [],
  'symbols': [],
  'user_mentions': [],
  'urls': [],
  'media': [{'id': 666020881337073664,
    'id_str': '666020881337073664',
    'indices': [108, 131],
    'media_url': 'http://pbs.twimg.com/media/CT4udn0WwAA0aMy.jpg',
    'media_url_https': 'https://pbs.twimg.com/media/CT4udn0WwAA0aMy.jpg',
    'url': 'https://t.co/BLDqew2Ijj',
    'display_url': 'pic.twitter.com/BLDqew2Ijj',
    'expanded_url': 'https://twitter.com/dog_rates/status/666020888022790149/photo/1',
    'type': 'photo',
    'sizes': {'medium': {'w': 960, 'h': 720, 'resize': 'fit'},
     'thumb': {'w': 150, 'h': 150, 'resize': 'crop'},
     'large': {'w': 960, 'h': 720, 'resize': 'fit'},
     'small': {'w': 680, 'h': 510, 'resize': 'fit'}}}]},
 'extended_entities': {'media': [{'id': 666020881337073664,
    'id_str': '666020881337073664',
    'indices': [108, 131],
    'media_url': 'http://pbs.twimg.com/media/CT4udn0WwAA0aMy.jpg',
    'media_url_https': 'https://pbs.twimg.com/media/CT4udn0WwAA0aMy.jpg',
    'url': 'https://t.co/BLDqew2Ijj',
    'display_url': 'pic.twitter.com/BLDqew2Ijj',
    'expanded_url': 'https://twitter.com/dog_rates/status/666020888022790149/photo/1',
    'type': 'photo',
    'sizes': {'medium': {'w': 960, 'h': 720, 'resize': 'fit'},
     'thumb': {'w': 150, 'h': 150, 'resize': 'crop'},
     'large': {'w': 960, 'h': 720, 'resize': 'fit'},
     'small': {'w': 680, 'h': 510, 'resize': 'fit'}}}]},
 'source': '<a href="http://twitter.com/download/iphone" rel="nofollow">Twitter for iPhone</a>',
 'in_reply_to_status_id': None,
 'in_reply_to_status_id_str': None,
 'in_reply_to_user_id': None,
 'in_reply_to_user_id_str': None,
 'in_reply_to_screen_name': None,
 'user': {'id': 4196983835,
  'id_str': '4196983835',
  'name': 'WeRateDogs™',
  'screen_name': 'dog_rates',
  'location': 'merch  ⇨',
  'description': 'Your Only Source For Professional Dog Ratings ⠀ ⠀IG, FB, Snapchat ⇨ WeRateDogs ⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀ Business: dogratingtwitter@gmail.com',
  'url': 'https://t.co/N7sNNHAEXS',
  'entities': {'url': {'urls': [{'url': 'https://t.co/N7sNNHAEXS',
      'expanded_url': 'http://weratedogs.com',
      'display_url': 'weratedogs.com',
      'indices': [0, 23]}]},
   'description': {'urls': []}},
  'protected': False,
  'followers_count': 7511056,
  'friends_count': 12,
  'listed_count': 5652,
  'created_at': 'Sun Nov 15 21:41:29 +0000 2015',
  'favourites_count': 140498,
  'utc_offset': None,
  'time_zone': None,
  'geo_enabled': True,
  'verified': True,
  'statuses_count': 9393,
  'lang': 'en',
  'contributors_enabled': False,
  'is_translator': False,
  'is_translation_enabled': False,
  'profile_background_color': '000000',
  'profile_background_image_url': 'http://abs.twimg.com/images/themes/theme1/bg.png',
  'profile_background_image_url_https': 'https://abs.twimg.com/images/themes/theme1/bg.png',
  'profile_background_tile': False,
  'profile_image_url': 'http://pbs.twimg.com/profile_images/1072659905235042304/nm3HWlPG_normal.jpg',
  'profile_image_url_https': 'https://pbs.twimg.com/profile_images/1072659905235042304/nm3HWlPG_normal.jpg',
  'profile_banner_url': 'https://pbs.twimg.com/profile_banners/4196983835/1544368760',
  'profile_link_color': 'F5ABB5',
  'profile_sidebar_border_color': '000000',
  'profile_sidebar_fill_color': '000000',
  'profile_text_color': '000000',
  'profile_use_background_image': False,
  'has_extended_profile': False,
  'default_profile': False,
  'default_profile_image': False,
  'following': False,
  'follow_request_sent': False,
  'notifications': False,
  'translator_type': 'none'},
 'geo': None,
 'coordinates': None,
 'place': None,
 'contributors': None,
 'is_quote_status': False,
 'retweet_count': 506,
 'favorite_count': 2537,
 'favorited': False,
 'retweeted': False,
 'possibly_sensitive': False,
 'possibly_sensitive_appealable': False,
 'lang': 'en'}

## Assess

In [6]:
tw.head(2)

,tweet_id,in_reply_to_status_id,in_reply_to_user_id,timestamp,source,text,retweeted_status_id,retweeted_status_user_id,retweeted_status_timestamp,expanded_urls,rating_numerator,rating_denominator,name,doggo,floofer,pupper,puppo
0,892420643555336193,NaN,NaN,2017-08-01 16:23:56 +0000,"<a href=""http://twitter.com/download/iphone"" r...",This is Phineas. He's a mystical boy. Only eve...,NaN,NaN,NaN,https://twitter.com/dog_rates/status/892420643...,13,10,Phineas,None,None,None,None
1,892177421306343426,NaN,NaN,2017-08-01 00:17:27 +0000,"<a href=""http://twitter.com/download/iphone"" r...",This is Tilly. She's just checking pup on you....,NaN,NaN,NaN,https://twitter.com/dog_rates/status/892177421...,13,10,Tilly,None,None,None,None

In [24]:
tw.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2356 entries, 0 to 2355
Data columns (total 17 columns):
tweet_id                      2356 non-null int64
in_reply_to_status_id         78 non-null float64
in_reply_to_user_id           78 non-null float64
timestamp                     2356 non-null object
source                        2356 non-null object
text                          2356 non-null object
retweeted_status_id           181 non-null float64
retweeted_status_user_id      181 non-null float64
retweeted_status_timestamp    181 non-null object
expanded_urls                 2297 non-null object
rating_numerator              2356 non-null int64
rating_denominator            2356 non-null int64
name                          2356 non-null object
doggo                         2356 non-null object
floofer                       2356 non-null object
pupper                        2356 non-null object
puppo                         2356 non-null object
dtypes: float64(4), int64(3), object(10)
memory usage: 313.0+ KB

In [28]:
tw[['rating_numerator','rating_denominator']].describe()

       rating_numerator  rating_denominator
count       2356.000000         2356.000000
mean          13.126486           10.455433
std           45.876648            6.745237
min            0.000000            0.000000
25%           10.000000           10.000000
50%           11.000000           10.000000
75%           12.000000           10.000000
max         1776.000000          170.000000

In [35]:
sum(tw.duplicated())

0

In [68]:
tw.source.value_counts()

<a href="http://twitter.com/download/iphone" rel="nofollow">Twitter for iPhone</a>     2221
<a href="http://vine.co" rel="nofollow">Vine - Make a Scene</a>                          91
<a href="http://twitter.com" rel="nofollow">Twitter Web Client</a>                       33
<a href="https://about.twitter.com/products/tweetdeck" rel="nofollow">TweetDeck</a>      11
Name: source, dtype: int64

In [22]:
tw.rating_numerator.sort_values(), tw.rating_numerator.value_counts()

(315        0
 1016       0
 2335       1
 2261       1
 2338       1
 605        1
 1446       1
 1869       1
 2091       1
 2038       1
 1940       1
 1764       2
 2310       2
 1761       2
 1920       2
 2246       2
 2237       2
 2349       2
 2326       2
 2079       2
 2305       3
 1249       3
 1898       3
 1478       3
 1692       3
 2202       3
 765        3
 1928       3
 1314       3
 2183       3
         ...
 866       14
 83        14
 291       15
 285       15
 55        17
 1663      20
 516       24
 1712      26
 763       27
 1433      44
 1274      45
 1202      50
 1351      60
 340       75
 695       75
 1254      80
 433       84
 1843      88
 1228      99
 1635     121
 1634     143
 1779     144
 902      165
 290      182
 1120     204
 2074     420
 188      420
 189      666
 313      960
 979     1776
 Name: rating_numerator, Length: 2356, dtype: int64, 12      558
 11      464
 10      461
 13      351
 9       158
 8       102
 7        55
 14       54
 5        37
 6        32
 3        19
 4        17
 1         9
 2         9
 420       2
 0         2
 15        2
 75        2
 80        1
 20        1
 24        1
 26        1
 44        1
 50        1
 60        1
 165       1
 84        1
 88        1
 144       1
 182       1
 143       1
 666       1
 960       1
 1776      1
 17        1
 27        1
 45        1
 99        1
 121       1
 204       1
 Name: rating_numerator, dtype: int64)

In [19]:
tw.rating_denominator.sort_values()[0:10], tw.rating_denominator.value_counts()[0:10]

(313      0
 2335     2
 516      7
 1576    10
 1575    10
 1574    10
 1573    10
 1572    10
 1563    10
 1570    10
 Name: rating_denominator, dtype: int64, 10    2333
 11       3
 50       3
 80       2
 20       2
 2        1
 16       1
 40       1
 70       1
 15       1
 Name: rating_denominator, dtype: int64)

In [111]:
tw.text[2074], tw.rating_denominator[2074]

('After so many requests... here you go.\n\nGood dogg. 420/10 https://t.co/yfAAo1gdeY',
 10)

In [96]:
tw.name.value_counts()

None              745
a                  55
Charlie            12
Lucy               11
Cooper             11
Oliver             11
Lola               10
Tucker             10
Penny              10
Winston             9
Bo                  9
the                 8
Sadie               8
Buddy               7
Bailey              7
an                  7
Toby                7
Daisy               7
Koda                6
Oscar               6
Rusty               6
Milo                6
Jack                6
Stanley             6
Leo                 6
Jax                 6
Dave                6
Bella               6
Scout               6
Louis               5
                 ...
unacceptable        1
Hero                1
Arnold              1
Travis              1
Charleson           1
his                 1
Rumpole             1
Rambo               1
Dudley              1
Nugget              1
Mosby               1
Jiminus             1
Bertson             1
Asher               1
Miley               1
Dotsy               1
Boston              1
Banditt             1
Lucia               1
Bronte              1
Tommy               1
Cora                1
Michelangelope      1
Dug                 1
Hazel               1
Mo                  1
Blipson             1
Pupcasso            1
Bubba               1
Chef                1
Name: name, Length: 957, dtype: int64

In [9]:
tw.name.sort_values()

1035            Abby
1021            Abby
938              Ace
1933            Acro
1327           Adele
1934           Aiden
77               Aja
480            Akumi
820               Al
875           Albert
1954          Albert
144            Albus
412            Albus
1115         Aldrick
2046       Alejandro
374        Alexander
1189    Alexanderson
486              Alf
2238           Alfie
661            Alfie
367            Alfie
1616           Alfie
858            Alfie
51              Alfy
201            Alice
1701           Alice
1495           Amber
1334         Ambrose
2078             Amy
2195          Amélie
            ...
852               my
988              not
335              not
1747      officially
1206             old
993              one
1936             one
924              one
369              one
2326           quite
169            quite
118            quite
193            quite
2030           space
22              such
2345             the
2346             the
1603             the
2037             the
2212             the
1815             the
1797             the
1527             the
1120            this
1121    unacceptable
1031            very
773             very
1097            very
819             very
1385            very
Name: name, Length: 2356, dtype: object

In [104]:
tw.doggo.value_counts() , tw.floofer.value_counts(), tw.pupper.value_counts(), tw.puppo.value_counts()

(None     2259
 doggo      97
 Name: doggo, dtype: int64, None       2346
 floofer      10
 Name: floofer, dtype: int64, None      2099
 pupper     257
 Name: pupper, dtype: int64, None     2326
 puppo      30
 Name: puppo, dtype: int64)

In [32]:
tw[(tw['doggo'] != 'None') & (tw['floofer'] != 'None')]

,tweet_id,in_reply_to_status_id,in_reply_to_user_id,timestamp,source,text,retweeted_status_id,retweeted_status_user_id,retweeted_status_timestamp,expanded_urls,rating_numerator,rating_denominator,name,doggo,floofer,pupper,puppo
200,854010172552949760,NaN,NaN,2017-04-17 16:34:26 +0000,"<a href=""http://twitter.com/download/iphone"" r...","At first I thought this was a shy doggo, but i...",NaN,NaN,NaN,https://twitter.com/dog_rates/status/854010172...,11,10,None,doggo,floofer,None,None

In [33]:
tw[(tw['doggo'] != 'None') & (tw['pupper'] != 'None')]

,tweet_id,in_reply_to_status_id,in_reply_to_user_id,timestamp,source,text,retweeted_status_id,retweeted_status_user_id,retweeted_status_timestamp,expanded_urls,rating_numerator,rating_denominator,name,doggo,floofer,pupper,puppo
460,817777686764523521,NaN,NaN,2017-01-07 16:59:28 +0000,"<a href=""http://twitter.com/download/iphone"" r...","This is Dido. She's playing the lead role in ""...",NaN,NaN,NaN,https://twitter.com/dog_rates/status/817777686...,13,10,Dido,doggo,None,pupper,None
531,808106460588765185,NaN,NaN,2016-12-12 00:29:28 +0000,"<a href=""http://twitter.com/download/iphone"" r...",Here we have Burke (pupper) and Dexter (doggo)...,NaN,NaN,NaN,https://twitter.com/dog_rates/status/808106460...,12,10,None,doggo,None,pupper,None
565,802265048156610565,7.331095e+17,4.196984e+09,2016-11-25 21:37:47 +0000,"<a href=""http://twitter.com/download/iphone"" r...","Like doggo, like pupper version 2. Both 11/10 ...",NaN,NaN,NaN,https://twitter.com/dog_rates/status/802265048...,11,10,None,doggo,None,pupper,None
575,801115127852503040,NaN,NaN,2016-11-22 17:28:25 +0000,"<a href=""http://twitter.com/download/iphone"" r...",This is Bones. He's being haunted by another d...,NaN,NaN,NaN,https://twitter.com/dog_rates/status/801115127...,12,10,Bones,doggo,None,pupper,None
705,785639753186217984,NaN,NaN,2016-10-11 00:34:48 +0000,"<a href=""http://twitter.com/download/iphone"" r...",This is Pinot. He's a sophisticated doggo. You...,NaN,NaN,NaN,https://twitter.com/dog_rates/status/785639753...,10,10,Pinot,doggo,None,pupper,None
733,781308096455073793,NaN,NaN,2016-09-29 01:42:20 +0000,"<a href=""http://vine.co"" rel=""nofollow"">Vine -...","Pupper butt 1, Doggo 0. Both 12/10 https://t.c...",NaN,NaN,NaN,https://vine.co/v/5rgu2Law2ut,12,10,None,doggo,None,pupper,None
778,775898661951791106,NaN,NaN,2016-09-14 03:27:11 +0000,"<a href=""http://twitter.com/download/iphone"" r...","RT @dog_rates: Like father (doggo), like son (...",7.331095e+17,4.196984e+09,2016-05-19 01:38:16 +0000,https://twitter.com/dog_rates/status/733109485...,12,10,None,doggo,None,pupper,None
822,770093767776997377,NaN,NaN,2016-08-29 03:00:36 +0000,"<a href=""http://twitter.com/download/iphone"" r...",RT @dog_rates: This is just downright precious...,7.410673e+17,4.196984e+09,2016-06-10 00:39:48 +0000,https://twitter.com/dog_rates/status/741067306...,12,10,just,doggo,None,pupper,None
889,759793422261743616,NaN,NaN,2016-07-31 16:50:42 +0000,"<a href=""http://twitter.com/download/iphone"" r...","Meet Maggie &amp; Lila. Maggie is the doggo, L...",NaN,NaN,NaN,https://twitter.com/dog_rates/status/759793422...,12,10,Maggie,doggo,None,pupper,None
956,751583847268179968,NaN,NaN,2016-07-09 01:08:47 +0000,"<a href=""http://twitter.com/download/iphone"" r...",Please stop sending it pictures that don't eve...,NaN,NaN,NaN,https://twitter.com/dog_rates/status/751583847...,5,10,None,doggo,None,pupper,None
1063,741067306818797568,NaN,NaN,2016-06-10 00:39:48 +0000,"<a href=""http://twitter.com/download/iphone"" r...",This is just downright precious af. 12/10 for ...,NaN,NaN,NaN,https://twitter.com/dog_rates/status/741067306...,12,10,just,doggo,None,pupper,None
1113,733109485275860992,NaN,NaN,2016-05-19 01:38:16 +0000,"<a href=""http://twitter.com/download/iphone"" r...","Like father (doggo), like son (pupper). Both 1...",NaN,NaN,NaN,https://twitter.com/dog_rates/status/733109485...,12,10,None,doggo,None,pupper,None

In [34]:
tw[(tw['doggo'] != 'None') & (tw['puppo'] != 'None')]

,tweet_id,in_reply_to_status_id,in_reply_to_user_id,timestamp,source,text,retweeted_status_id,retweeted_status_user_id,retweeted_status_timestamp,expanded_urls,rating_numerator,rating_denominator,name,doggo,floofer,pupper,puppo
191,855851453814013952,NaN,NaN,2017-04-22 18:31:02 +0000,"<a href=""http://twitter.com/download/iphone"" r...",Here's a puppo participating in the #ScienceMa...,NaN,NaN,NaN,https://twitter.com/dog_rates/status/855851453...,13,10,None,doggo,None,None,puppo

In [35]:
tw[(tw['pupper'] != 'None') & (tw['floofer'] != 'None')]

Empty DataFrame
Columns: [tweet_id, in_reply_to_status_id, in_reply_to_user_id, timestamp, source, text, retweeted_status_id, retweeted_status_user_id, retweeted_status_timestamp, expanded_urls, rating_numerator, rating_denominator, name, doggo, floofer, pupper, puppo]
Index: []

In [36]:
tw[(tw['puppo'] != 'None') & (tw['floofer'] != 'None')]

Empty DataFrame
Columns: [tweet_id, in_reply_to_status_id, in_reply_to_user_id, timestamp, source, text, retweeted_status_id, retweeted_status_user_id, retweeted_status_timestamp, expanded_urls, rating_numerator, rating_denominator, name, doggo, floofer, pupper, puppo]
Index: []

In [37]:
tw[(tw['pupper'] != 'None') & (tw['puppo'] != 'None')]

Empty DataFrame
Columns: [tweet_id, in_reply_to_status_id, in_reply_to_user_id, timestamp, source, text, retweeted_status_id, retweeted_status_user_id, retweeted_status_timestamp, expanded_urls, rating_numerator, rating_denominator, name, doggo, floofer, pupper, puppo]
Index: []

In [10]:
tw.in_reply_to_user_id.nunique()

31

In [59]:
tw[tw['name']=='quite'].text

118     RT @dog_rates: We only rate dogs. This is quit...
169     We only rate dogs. This is quite clearly a smo...
193     Guys, we only rate dogs. This is quite clearly...
2326    This is quite the dog. Gets really excited whe...
Name: text, dtype: object

In [9]:
im

,tweet_id,jpg_url,img_num,p1,p1_conf,p1_dog,p2,p2_conf,p2_dog,p3,p3_conf,p3_dog
0,666020888022790149,https://pbs.twimg.com/media/CT4udn0WwAA0aMy.jpg,1,Welsh_springer_spaniel,0.465074,True,collie,0.156665,True,Shetland_sheepdog,0.061428,True
1,666029285002620928,https://pbs.twimg.com/media/CT42GRgUYAA5iDo.jpg,1,redbone,0.506826,True,miniature_pinscher,0.074192,True,Rhodesian_ridgeback,0.072010,True
2,666033412701032449,https://pbs.twimg.com/media/CT4521TWwAEvMyu.jpg,1,German_shepherd,0.596461,True,malinois,0.138584,True,bloodhound,0.116197,True
3,666044226329800704,https://pbs.twimg.com/media/CT5Dr8HUEAA-lEu.jpg,1,Rhodesian_ridgeback,0.408143,True,redbone,0.360687,True,miniature_pinscher,0.222752,True
4,666049248165822465,https://pbs.twimg.com/media/CT5IQmsXIAAKY4A.jpg,1,miniature_pinscher,0.560311,True,Rottweiler,0.243682,True,Doberman,0.154629,True
5,666050758794694657,https://pbs.twimg.com/media/CT5Jof1WUAEuVxN.jpg,1,Bernese_mountain_dog,0.651137,True,English_springer,0.263788,True,Greater_Swiss_Mountain_dog,0.016199,True
6,666051853826850816,https://pbs.twimg.com/media/CT5KoJ1WoAAJash.jpg,1,box_turtle,0.933012,False,mud_turtle,0.045885,False,terrapin,0.017885,False
7,666055525042405380,https://pbs.twimg.com/media/CT5N9tpXIAAifs1.jpg,1,chow,0.692517,True,Tibetan_mastiff,0.058279,True,fur_coat,0.054449,False
8,666057090499244032,https://pbs.twimg.com/media/CT5PY90WoAAQGLo.jpg,1,shopping_cart,0.962465,False,shopping_basket,0.014594,False,golden_retriever,0.007959,True
9,666058600524156928,https://pbs.twimg.com/media/CT5Qw94XAAA_2dP.jpg,1,miniature_poodle,0.201493,True,komondor,0.192305,True,soft-coated_wheaten_terrier,0.082086,True
10,666063827256086533,https://pbs.twimg.com/media/CT5Vg_wXIAAXfnj.jpg,1,golden_retriever,0.775930,True,Tibetan_mastiff,0.093718,True,Labrador_retriever,0.072427,True
11,666071193221509120,https://pbs.twimg.com/media/CT5cN_3WEAAlOoZ.jpg,1,Gordon_setter,0.503672,True,Yorkshire_terrier,0.174201,True,Pekinese,0.109454,True
12,666073100786774016,https://pbs.twimg.com/media/CT5d9DZXAAALcwe.jpg,1,Walker_hound,0.260857,True,English_foxhound,0.175382,True,Ibizan_hound,0.097471,True
13,666082916733198337,https://pbs.twimg.com/media/CT5m4VGWEAAtKc8.jpg,1,pug,0.489814,True,bull_mastiff,0.404722,True,French_bulldog,0.048960,True
14,666094000022159362,https://pbs.twimg.com/media/CT5w9gUW4AAsBNN.jpg,1,bloodhound,0.195217,True,German_shepherd,0.078260,True,malinois,0.075628,True
15,666099513787052032,https://pbs.twimg.com/media/CT51-JJUEAA6hV8.jpg,1,Lhasa,0.582330,True,Shih-Tzu,0.166192,True,Dandie_Dinmont,0.089688,True
16,666102155909144576,https://pbs.twimg.com/media/CT54YGiWUAEZnoK.jpg,1,English_setter,0.298617,True,Newfoundland,0.149842,True,borzoi,0.133649,True
17,666104133288665088,https://pbs.twimg.com/media/CT56LSZWoAAlJj2.jpg,1,hen,0.965932,False,cock,0.033919,False,partridge,0.000052,False
18,666268910803644416,https://pbs.twimg.com/media/CT8QCd1WEAADXws.jpg,1,desktop_computer,0.086502,False,desk,0.085547,False,bookcase,0.079480,False
19,666273097616637952,https://pbs.twimg.com/media/CT8T1mtUwAA3aqm.jpg,1,Italian_greyhound,0.176053,True,toy_terrier,0.111884,True,basenji,0.111152,True
20,666287406224695296,https://pbs.twimg.com/media/CT8g3BpUEAAuFjg.jpg,1,Maltese_dog,0.857531,True,toy_poodle,0.063064,True,miniature_poodle,0.025581,True
21,666293911632134144,https://pbs.twimg.com/media/CT8mx7KW4AEQu8N.jpg,1,three-toed_sloth,0.914671,False,otter,0.015250,False,great_grey_owl,0.013207,False
22,666337882303524864,https://pbs.twimg.com/media/CT9OwFIWEAMuRje.jpg,1,ox,0.416669,False,Newfoundland,0.278407,True,groenendael,0.102643,True
23,666345417576210432,https://pbs.twimg.com/media/CT9Vn7PWoAA_ZCM.jpg,1,golden_retriever,0.858744,True,Chesapeake_Bay_retriever,0.054787,True,Labrador_retriever,0.014241,True
24,666353288456101888,https://pbs.twimg.com/media/CT9cx0tUEAAhNN_.jpg,1,malamute,0.336874,True,Siberian_husky,0.147655,True,Eskimo_dog,0.093412,True
25,666362758909284353,https://pbs.twimg.com/media/CT9lXGsUcAAyUFt.jpg,1,guinea_pig,0.996496,False,skunk,0.002402,False,hamster,0.000461,False
26,666373753744588802,https://pbs.twimg.com/media/CT9vZEYWUAAlZ05.jpg,1,soft-coated_wheaten_terrier,0.326467,True,Afghan_hound,0.259551,True,briard,0.206803,True
27,666396247373291520,https://pbs.twimg.com/media/CT-D2ZHWIAA3gK1.jpg,1,Chihuahua,0.978108,True,toy_terrier,0.009397,True,papillon,0.004577,True
28,666407126856765440,https://pbs.twimg.com/media/CT-NvwmW4AAugGZ.jpg,1,black-and-tan_coonhound,0.529139,True,bloodhound,0.244220,True,flat-coated_retriever,0.173810,True
29,666411507551481857,https://pbs.twimg.com/media/CT-RugiWIAELEaq.jpg,1,coho,0.404640,False,barracouta,0.271485,False,gar,0.189945,False
...,...,...,...,...,...,...,...,...,...,...,...,...
2045,886366144734445568,https://pbs.twimg.com/media/DE0BTnQUwAApKEH.jpg,1,French_bulldog,0.999201,True,Chihuahua,0.000361,True,Boston_bull,0.000076,True
2046,886680336477933568,https://pbs.twimg.com/media/DE4fEDzWAAAyHMM.jpg,1,convertible,0.738995,False,sports_car,0.139952,False,car_wheel,0.044173,False
2047,886736880519319552,https://pbs.twimg.com/media/DE5Se8FXcAAJFx4.jpg,1,kuvasz,0.309706,True,Great_Pyrenees,0.186136,True,Dandie_Dinmont,0.086346,True
2048,886983233522544640,https://pbs.twimg.com/media/DE8yicJW0AAAvBJ.jpg,2,Chihuahua,0.793469,True,toy_terrier,0.143528,True,can_opener,0.032253,False
2049,887101392804085760,https://pbs.twimg.com/media/DE-eAq6UwAA-jaE.jpg,1,Samoyed,0.733942,True,Eskimo_dog,0.035029,True,Staffordshire_bullterrier,0.029705,True
2050,887343217045368832,https://pbs.twimg.com/ext_tw_video_thumb/88734...,1,Mexican_hairless,0.330741,True,sea_lion,0.275645,False,Weimaraner,0.134203,True
2051,887473957103951883,https://pbs.twimg.com/media/DFDw2tyUQAAAFke.jpg,2,Pembroke,0.809197,True,Rhodesian_ridgeback,0.054950,True,beagle,0.038915,True
2052,887517139158093824,https://pbs.twimg.com/ext_tw_video_thumb/88751...,1,limousine,0.130432,False,tow_truck,0.029175,False,shopping_cart,0.026321,False
2053,887705289381826560,https://pbs.twimg.com/media/DFHDQBbXgAEqY7t.jpg,1,basset,0.821664,True,redbone,0.087582,True,Weimaraner,0.026236,True
2054,888078434458587136,https://pbs.twimg.com/media/DFMWn56WsAAkA7B.jpg,1,French_bulldog,0.995026,True,pug,0.000932,True,bull_mastiff,0.000903,True
2055,888202515573088257,https://pbs.twimg.com/media/DFDw2tyUQAAAFke.jpg,2,Pembroke,0.809197,True,Rhodesian_ridgeback,0.054950,True,beagle,0.038915,True
2056,888554962724278272,https://pbs.twimg.com/media/DFTH_O-UQAACu20.jpg,3,Siberian_husky,0.700377,True,Eskimo_dog,0.166511,True,malamute,0.111411,True
2057,888804989199671297,https://pbs.twimg.com/media/DFWra-3VYAA2piG.jpg,1,golden_retriever,0.469760,True,Labrador_retriever,0.184172,True,English_setter,0.073482,True
2058,888917238123831296,https://pbs.twimg.com/media/DFYRgsOUQAARGhO.jpg,1,golden_retriever,0.714719,True,Tibetan_mastiff,0.120184,True,Labrador_retriever,0.105506,True
2059,889278841981685760,https://pbs.twimg.com/ext_tw_video_thumb/88927...,1,whippet,0.626152,True,borzoi,0.194742,True,Saluki,0.027351,True
2060,889531135344209921,https://pbs.twimg.com/media/DFg_2PVW0AEHN3p.jpg,1,golden_retriever,0.953442,True,Labrador_retriever,0.013834,True,redbone,0.007958,True
2061,889638837579907072,https://pbs.twimg.com/media/DFihzFfXsAYGDPR.jpg,1,French_bulldog,0.991650,True,boxer,0.002129,True,Staffordshire_bullterrier,0.001498,True
2062,889665388333682689,https://pbs.twimg.com/media/DFi579UWsAAatzw.jpg,1,Pembroke,0.966327,True,Cardigan,0.027356,True,basenji,0.004633,True
2063,889880896479866881,https://pbs.twimg.com/media/DFl99B1WsAITKsg.jpg,1,French_bulldog,0.377417,True,Labrador_retriever,0.151317,True,muzzle,0.082981,False
2064,890006608113172480,https://pbs.twimg.com/media/DFnwSY4WAAAMliS.jpg,1,Samoyed,0.957979,True,Pomeranian,0.013884,True,chow,0.008167,True
2065,890240255349198849,https://pbs.twimg.com/media/DFrEyVuW0AAO3t9.jpg,1,Pembroke,0.511319,True,Cardigan,0.451038,True,Chihuahua,0.029248,True
2066,890609185150312448,https://pbs.twimg.com/media/DFwUU__XcAEpyXI.jpg,1,Irish_terrier,0.487574,True,Irish_setter,0.193054,True,Chesapeake_Bay_retriever,0.118184,True
2067,890729181411237888,https://pbs.twimg.com/media/DFyBahAVwAAhUTd.jpg,2,Pomeranian,0.566142,True,Eskimo_dog,0.178406,True,Pembroke,0.076507,True
2068,890971913173991426,https://pbs.twimg.com/media/DF1eOmZXUAALUcq.jpg,1,Appenzeller,0.341703,True,Border_collie,0.199287,True,ice_lolly,0.193548,False
2069,891087950875897856,https://pbs.twimg.com/media/DF3HwyEWsAABqE6.jpg,1,Chesapeake_Bay_retriever,0.425595,True,Irish_terrier,0.116317,True,Indian_elephant,0.076902,False
2070,891327558926688256,https://pbs.twimg.com/media/DF6hr6BUMAAzZgT.jpg,2,basset,0.555712,True,English_springer,0.225770,True,German_short-haired_pointer,0.175219,True
2071,891689557279858688,https://pbs.twimg.com/media/DF_q7IAWsAEuuN8.jpg,1,paper_towel,0.170278,False,Labrador_retriever,0.168086,True,spatula,0.040836,False
2072,891815181378084864,https://pbs.twimg.com/media/DGBdLU1WsAANxJ9.jpg,1,Chihuahua,0.716012,True,malamute,0.078253,True,kelpie,0.031379,True
2073,892177421306343426,https://pbs.twimg.com/media/DGGmoV4XsAAUL6n.jpg,1,Chihuahua,0.323581,True,Pekinese,0.090647,True,papillon,0.068957,True
2074,892420643555336193,https://pbs.twimg.com/media/DGKD1-bXoAAIAUK.jpg,1,orange,0.097049,False,bagel,0.085851,False,banana,0.076110,False

In [120]:
im.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2075 entries, 0 to 2074
Data columns (total 12 columns):
tweet_id    2075 non-null int64
jpg_url     2075 non-null object
img_num     2075 non-null int64
p1          2075 non-null object
p1_conf     2075 non-null float64
p1_dog      2075 non-null bool
p2          2075 non-null object
p2_conf     2075 non-null float64
p2_dog      2075 non-null bool
p3          2075 non-null object
p3_conf     2075 non-null float64
p3_dog      2075 non-null bool
dtypes: bool(3), float64(3), int64(2), object(4)
memory usage: 152.1+ KB

In [38]:
sum(im.jpg_url.duplicated())

66

In [ ]:
im[im.jpg_url.duplicated()]

In [28]:
im.p1_conf.nunique()

2006

In [ ]:
im.jpg_url.value_counts()

In [124]:
im.tweet_id.nunique()

2075

In [30]:
im.p1.nunique(), im.p1_conf.sort_values(), im.p1_dog.value_counts()

(378, 38      0.044333
 136     0.055379
 1093    0.059033
 1370    0.063152
 246     0.070076
 250     0.071124
 145     0.071536
 680     0.072885
 701     0.081101
 1831    0.082489
 18      0.086502
 109     0.088530
 568     0.088540
 301     0.089165
 1627    0.090341
 1503    0.090341
 954     0.090508
 277     0.096063
 2074    0.097049
 664     0.097232
 789     0.097500
 515     0.098283
 1664    0.099804
 731     0.100499
 1723    0.100896
 1037    0.105171
 247     0.107317
 876     0.107948
 866     0.110587
 1245    0.111493
           ...
 76      0.999091
 1988    0.999120
 2045    0.999201
 863     0.999223
 1872    0.999281
 1548    0.999306
 95      0.999335
 611     0.999365
 1711    0.999403
 512     0.999484
 168     0.999614
 107     0.999647
 1796    0.999715
 1455    0.999823
 1687    0.999828
 1725    0.999833
 331     0.999834
 1014    0.999837
 594     0.999846
 475     0.999876
 865     0.999885
 45      0.999888
 1447    0.999916
 242     0.999924
 230     0.999945
 1372    0.999953
 149     0.999956
 1229    0.999962
 1299    0.999984
 106     1.000000
 Name: p1_conf, Length: 2075, dtype: float64, True     1532
 False     543
 Name: p1_dog, dtype: int64)

In [134]:
im.p2.nunique(), im.p2.value_counts(), im.p2_dog.value_counts()

(405, Labrador_retriever                104
 golden_retriever                   92
 Cardigan                           73
 Chihuahua                          44
 Pomeranian                         42
 Chesapeake_Bay_retriever           41
 French_bulldog                     41
 toy_poodle                         37
 cocker_spaniel                     34
 miniature_poodle                   33
 Siberian_husky                     33
 beagle                             28
 Eskimo_dog                         27
 collie                             27
 Pembroke                           27
 kuvasz                             26
 Italian_greyhound                  22
 American_Staffordshire_terrier     21
 Pekinese                           21
 chow                               20
 malinois                           20
 miniature_pinscher                 20
 Samoyed                            20
 toy_terrier                        20
 Norwegian_elkhound                 19
 Boston_bull                        19
 Staffordshire_bullterrier          18
 pug                                17
 Irish_terrier                      17
 kelpie                             16
                                  ...
 polecat                             1
 washbasin                           1
 cradle                              1
 cougar                              1
 waffle_iron                         1
 sliding_door                        1
 water_buffalo                       1
 web_site                            1
 minibus                             1
 moped                               1
 cowboy_hat                          1
 tree_frog                           1
 banded_gecko                        1
 hay                                 1
 sea_urchin                          1
 shower_cap                          1
 racket                              1
 sandal                              1
 lifeboat                            1
 hotdog                              1
 dining_table                        1
 spotlight                           1
 wallaby                             1
 toucan                              1
 folding_chair                       1
 snorkel                             1
 necklace                            1
 menu                                1
 timber_wolf                         1
 tiger                               1
 Name: p2, Length: 405, dtype: int64, True     1553
 False     522
 Name: p2_dog, dtype: int64)

In [133]:
im.p3.nunique(), im.p3.value_counts(), im.p3_dog.value_counts()

(408, Labrador_retriever                79
 Chihuahua                         58
 golden_retriever                  48
 Eskimo_dog                        38
 kelpie                            35
 kuvasz                            34
 Staffordshire_bullterrier         32
 chow                              32
 beagle                            31
 cocker_spaniel                    31
 Pomeranian                        29
 toy_poodle                        29
 Pekinese                          29
 Chesapeake_Bay_retriever          27
 Pembroke                          27
 Great_Pyrenees                    27
 French_bulldog                    26
 malamute                          26
 American_Staffordshire_terrier    24
 pug                               23
 Cardigan                          23
 basenji                           21
 bull_mastiff                      20
 toy_terrier                       20
 Siberian_husky                    19
 Boston_bull                       17
 Shetland_sheepdog                 17
 Lakeland_terrier                  16
 doormat                           16
 boxer                             16
                                   ..
 bullfrog                           1
 ballplayer                         1
 rock_crab                          1
 switch                             1
 entertainment_center               1
 wok                                1
 orangutan                          1
 go-kart                            1
 eel                                1
 mitten                             1
 binder                             1
 cloak                              1
 jersey                             1
 parachute                          1
 desktop_computer                   1
 power_drill                        1
 snorkel                            1
 great_grey_owl                     1
 cab                                1
 hand_blower                        1
 French_horn                        1
 chickadee                          1
 seashore                           1
 grand_piano                        1
 oxcart                             1
 nipple                             1
 shower_cap                         1
 crayfish                           1
 neck_brace                         1
 African_grey                       1
 Name: p3, Length: 408, dtype: int64, True     1499
 False     576
 Name: p3_dog, dtype: int64)

In [18]:
tw_ext.head()

  favorite_count            tweet_id retweet_count truncated
0          38136  892420643555336193          8345     False
1          32715  892177421306343426          6166     False
2          24629  891815181378084864          4079     False
3          41487  891689557279858688          8488     False
4          39650  891327558926688256          9179     False

In [19]:
tw_ext.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2342 entries, 0 to 2341
Data columns (total 4 columns):
favorite_count    2342 non-null object
tweet_id          2342 non-null object
retweet_count     2342 non-null object
truncated         2342 non-null object
dtypes: object(4)
memory usage: 73.3+ KB

In [27]:
tw_ext.describe()

        favorite_count            tweet_id  retweet_count truncated
count             2342                2342           2342      2342
unique            1997                2342           1743         1
top                  0  667495797102141441            128     False
freq               168                   1              5      2342

In [20]:
tw_ext.truncated.unique()

array([False], dtype=object)

In [25]:
tw_ext.retweet_count.sort_values()

283         0
266         2
333         2
1281        2
110         3
29          4
1066        6
54          7
63         10
417        10
2325       12
2284       14
1509       17
180        17
173        18
2305       20
206        23
2175       25
1223       25
182        28
399        28
600        29
2210       32
953        32
2246       33
872        34
337        35
2245       35
2323       35
277        36
        ...
437     20708
438     20708
925     22643
301     22643
440     22838
519     22838
1063    22896
877     22896
643     23169
1611    23169
149     23671
646     24464
112     26167
613     26272
449     29743
294     29743
163     30895
159     31506
857     31506
1816    32753
1752    33892
130     35536
527     38350
439     40153
436     40153
65      43551
403     47850
524     61137
1065    62148
1025    83897
Name: retweet_count, Length: 2342, dtype: object

In [26]:
tw_ext.favorite_count.sort_values()

298          0
935          0
443          0
440          0
437          0
436          0
759          0
762          0
428          0
153          0
154          0
898          0
425          0
424          0
421          0
159          0
767          0
415          0
412          0
165          0
410          0
405          0
998          0
401          0
756          0
782          0
929          0
141          0
923          0
709          0
         ...
646      48513
55       48659
53       49814
1099     51559
131      52586
857      52647
613      53529
385      55258
449      55365
356      56067
7        64346
119      65329
22       67960
347      70713
41       71873
149      75039
37       76233
1816     77622
76       78600
527      80569
112      82118
1752     82497
163      90930
439      92136
65      104250
1065    121671
130     122217
524     127364
403     140744
1025    164649
Name: favorite_count, Length: 2342, dtype: object

In [83]:
tw_ext[tw_ext.tweet_id.duplicated()]

Empty DataFrame
Columns: [retweet_count, favorite_count, truncated, tweet_id]
Index: []

###  <font color='blue'> Quality </font>

Twitter archive data: tw table

       1. Missing values in retweeted_status_user_id, retweeted_status_timestamp,in_reply_to_status_id and in_reply_to_user_id  variables 
        Note: We only want original ratings (no retweets) that have images. Then, we will not need 
        retweeted_status_id, retweeted_status_user_id, and retweeted_status_timestamp anymore.).
        Missing values is a quality issue, while remove columns is tidness issue. 
        However, I will deal with this point in quality section.

       2. Erroneous datatypes:
            - in_reply_to_status_id         is a float not an integer
            - in_reply_to_user_id           is a float not an integer
            - retweeted_status_id           is a float not an integer
            - retweeted_status_user_id      is a float not an integer
            - retweeted_status_timestamp    is a string not a datetime
            - timestamp                     is a string not a datetime
                
       3. rating_denominator variable have values <10. text tweets show errors when extrating these numbers.      
       4. There are four categories for source variable. there is some irrelevant text: html code.   
       5. one character or invalid name.
       6. Same dog with two stage: some values in doggo, floofer, pupper and puppo columns need to be revised. 
       7. Values in doggo, floofer, pupper and puppo columns are bad represented.
       8. Null values are represented in the table sometimes by None and sometimes by NaN.
      
    

Image predictions data: im table

       9. There are duplicate records.


Twitter extension data : tw_ext

      - type of tweet_id, favorite_count and retweet_count is string not integer.
      - truncated column has one value: False.





### <span style="color:blue">Tidiness</span>  

Twitter archive:  tw table

    1. doggo, floofer, pupper and puppo column should be merged into on column: stage
    2. Rating values should be one column 

Image predictions: im tabe

    3. p1, p2 and p3 columns should be merged into two columns: prediction algorithms and breed prediction.
    4. p1_conf, p2_conf and p3_conf columns should be merged into one column: prediction coefficent.
    5. p1_dog, p2_dog and p3_dog should be merged into one column: is_a_Dog
    6. This table should be concatenated with tw table.
 
Twitter exentension data: tw_ext

    7. This table should be concatenated with tw table.

In [ ]:
tw_ext.retweet_count.value_counts()
tw_ext.retweet_count.value_counts()

## Clean

In [5]:
# Create table copies
tw_clean = tw.copy()
im_clean = im.copy()
tw_ext_clean = tw_ext.copy()

### <span style="color:blue">A. Quality</span>

### 1. Twitter archive: tw table

#### Missing Data
    Missing values in retweeted_status_user_id, retweeted_status_timestamp,  in_reply_to_status_id and in_reply_to_user_id variables. 
    It is a tidness issues, but I see that it must first be treated.

##### Define
We only want original ratings (no retweets) that have images. 

        Remove rows when retweeted_status_id is not null.
        Remove rows whenin_reply_to_status_id is not null.
        Remove these columns and their related columns.

##### Code

In [6]:
#  Remove rows when retweeted_status_id and in_reply_to_status_id are not null. retweeted_status_id not null row will removed automatically.
tw_clean = tw_clean[tw_clean['retweeted_status_id'].isnull()]
tw_clean = tw_clean[tw_clean['in_reply_to_status_id'].isnull()]

In [7]:
#  Remove these columns and their related columns.
tw_clean.drop(['retweeted_status_id','retweeted_status_user_id','retweeted_status_timestamp'], axis = 1, inplace = True)
tw_clean.drop(['in_reply_to_status_id','in_reply_to_user_id'], axis = 1, inplace = True)

##### Test

In [8]:
tw_clean.head(1)

,tweet_id,timestamp,source,text,expanded_urls,rating_numerator,rating_denominator,name,doggo,floofer,pupper,puppo
0,892420643555336193,2017-08-01 16:23:56 +0000,"<a href=""http://twitter.com/download/iphone"" r...",This is Phineas. He's a mystical boy. Only eve...,https://twitter.com/dog_rates/status/892420643...,13,10,Phineas,None,None,None,None

#### Erroneous datatypes
timestamp is a string not a datetime

##### Define
Transform timestamp type to datetime using to_datetime() method

##### Code

In [9]:
tw_clean['timestamp'] = pd.to_datetime(tw_clean['timestamp'])

##### Test

In [10]:
tw_clean['timestamp'].head(1)

0   2017-08-01 16:23:56
Name: timestamp, dtype: datetime64[ns]

###  rating_denominator variable has values < 10 values
text tweets show errors when extrating these numbers.

##### Define
Display text tweets and correct values related to this variable.

In [11]:
tw_clean[tw_clean['rating_denominator'] <10]

,tweet_id,timestamp,source,text,expanded_urls,rating_numerator,rating_denominator,name,doggo,floofer,pupper,puppo
516,810984652412424192,2016-12-19 23:06:23,"<a href=""http://twitter.com/download/iphone"" r...",Meet Sam. She smiles 24/7 &amp; secretly aspir...,"https://www.gofundme.com/sams-smile,https://tw...",24,7,Sam,None,None,None,None
2335,666287406224695296,2015-11-16 16:11:11,"<a href=""http://twitter.com/download/iphone"" r...",This is an Albanian 3 1/2 legged Episcopalian...,https://twitter.com/dog_rates/status/666287406...,1,2,an,None,None,None,None

In [12]:
tw_clean[tw_clean['rating_denominator'] <10].text[516]

'Meet Sam. She smiles 24/7 &amp; secretly aspires to be a reindeer. \nKeep Sam smiling by clicking and sharing this link:\nhttps://t.co/98tB8y7y7t https://t.co/LouL5vdvxx'

In [13]:
tw_clean[tw_clean['rating_denominator'] <10].text[2335]

'This is an Albanian 3 1/2 legged  Episcopalian. Loves well-polished hardwood flooring. Penis on the collar. 9/10 https://t.co/d9NcXFKwLv'

##### Code

In [14]:
tw_clean.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 2097 entries, 0 to 2355
Data columns (total 12 columns):
tweet_id              2097 non-null int64
timestamp             2097 non-null datetime64[ns]
source                2097 non-null object
text                  2097 non-null object
expanded_urls         2094 non-null object
rating_numerator      2097 non-null int64
rating_denominator    2097 non-null int64
name                  2097 non-null object
doggo                 2097 non-null object
floofer               2097 non-null object
pupper                2097 non-null object
puppo                 2097 non-null object
dtypes: datetime64[ns](1), int64(3), object(8)
memory usage: 213.0+ KB

In [15]:
tw_clean.loc[tw_clean.tweet_id == 666287406224695296 ,['rating_numerator']] = 9
tw_clean.loc[tw_clean.tweet_id == 666287406224695296 ,['rating_denominator']] = 10

In [16]:
tw_clean.loc[tw_clean.tweet_id == 810984652412424192 ,['rating_numerator']] = np.nan
tw_clean.loc[tw_clean.tweet_id == 810984652412424192 ,['rating_denominator']] = np.nan

##### Test

In [17]:
tw_clean[tw_clean['tweet_id'] == 666287406224695296]

,tweet_id,timestamp,source,text,expanded_urls,rating_numerator,rating_denominator,name,doggo,floofer,pupper,puppo
2335,666287406224695296,2015-11-16 16:11:11,"<a href=""http://twitter.com/download/iphone"" r...",This is an Albanian 3 1/2 legged Episcopalian...,https://twitter.com/dog_rates/status/666287406...,9.0,10.0,an,None,None,None,None

In [18]:
tw_clean.loc[tw_clean.tweet_id == 810984652412424192 ]

,tweet_id,timestamp,source,text,expanded_urls,rating_numerator,rating_denominator,name,doggo,floofer,pupper,puppo
516,810984652412424192,2016-12-19 23:06:23,"<a href=""http://twitter.com/download/iphone"" r...",Meet Sam. She smiles 24/7 &amp; secretly aspir...,"https://www.gofundme.com/sams-smile,https://tw...",NaN,NaN,Sam,None,None,None,None

#### Source variable
There are four categories for source variable. Irrelevant text observed: html code.

##### Define
Remove htmal code and leave only utility used to post the tweet.

##### Code

In [19]:
# see reference [1]
def remove_html_tags(text):
    """Remove html tags from a string"""
    import re
    clean = re.compile('<.*?>')
    return re.sub(clean, '', text)

In [20]:
# aplly remove_html_tags function to source column
tw_clean.source = tw_clean.source.apply(remove_html_tags)

##### Test

In [21]:
tw_clean.source.unique()

array(['Twitter for iPhone', 'Twitter Web Client', 'Vine - Make a Scene',
       'TweetDeck'], dtype=object)

#### Same dog with two different stages
Some values in doggo, floofer, pupper and puppo columns need to be revised

##### Define

See on the tweet text and modify stage variable values if it's possible.

##### Code

    There is one observation when doggo and floofer are not null at the same time.

In [22]:
tw_clean[(tw_clean['doggo'] != 'None') & (tw['floofer'] != 'None')]

/opt/conda/lib/python3.6/site-packages/ipykernel_launcher.py:1: UserWarning: Boolean Series key will be reindexed to match DataFrame index.
  """Entry point for launching an IPython kernel.

,tweet_id,timestamp,source,text,expanded_urls,rating_numerator,rating_denominator,name,doggo,floofer,pupper,puppo
200,854010172552949760,2017-04-17 16:34:26,Twitter for iPhone,"At first I thought this was a shy doggo, but i...",https://twitter.com/dog_rates/status/854010172...,11.0,10.0,None,doggo,floofer,None,None

In [23]:
# show tweet test
tw_clean[tw_clean['tweet_id']==854010172552949760].text

200    At first I thought this was a shy doggo, but i...
Name: text, dtype: object

    Tweet text is not complete. Go to original tweet using (expanded_urls). Complete text was: "At first I thought this was a shy doggo, but it's actually a Rare Canadian Floofer Owl. Amateurs would confuse the two. 11/10 only send dogs". As we can see the correct stage is Floofer.

In [24]:
# assign None to doggo for this tweet.
tw_clean.loc[tw_clean.tweet_id == 854010172552949760 ,['doggo']] = 'None'

    There is one observation when doggo and puppo are not null at the same time.

In [25]:
tw_clean[(tw_clean['doggo'] != 'None') & (tw_clean['puppo'] != 'None')]

,tweet_id,timestamp,source,text,expanded_urls,rating_numerator,rating_denominator,name,doggo,floofer,pupper,puppo
191,855851453814013952,2017-04-22 18:31:02,Twitter for iPhone,Here's a puppo participating in the #ScienceMa...,https://twitter.com/dog_rates/status/855851453...,13.0,10.0,None,doggo,None,None,puppo

    Text of the above tweet was: "Here's a puppo participating in the #ScienceMarch. Cleverly disguising her own doggo agenda. 13/10 would keep the planet habitable for". Here is a puppo behaves like a doggo.

In [26]:
# assign None to doggo for this tweet.
tw_clean.loc[tw_clean.tweet_id == 855851453814013952 ,['doggo']] = 'None'

    There are 9 observations when doggo and pupper are not null at the same time.

In [27]:
tw_clean[(tw_clean['doggo'] != 'None') & (tw_clean['pupper'] != 'None')]

,tweet_id,timestamp,source,text,expanded_urls,rating_numerator,rating_denominator,name,doggo,floofer,pupper,puppo
460,817777686764523521,2017-01-07 16:59:28,Twitter for iPhone,"This is Dido. She's playing the lead role in ""...",https://twitter.com/dog_rates/status/817777686...,13.0,10.0,Dido,doggo,None,pupper,None
531,808106460588765185,2016-12-12 00:29:28,Twitter for iPhone,Here we have Burke (pupper) and Dexter (doggo)...,https://twitter.com/dog_rates/status/808106460...,12.0,10.0,None,doggo,None,pupper,None
575,801115127852503040,2016-11-22 17:28:25,Twitter for iPhone,This is Bones. He's being haunted by another d...,https://twitter.com/dog_rates/status/801115127...,12.0,10.0,Bones,doggo,None,pupper,None
705,785639753186217984,2016-10-11 00:34:48,Twitter for iPhone,This is Pinot. He's a sophisticated doggo. You...,https://twitter.com/dog_rates/status/785639753...,10.0,10.0,Pinot,doggo,None,pupper,None
733,781308096455073793,2016-09-29 01:42:20,Vine - Make a Scene,"Pupper butt 1, Doggo 0. Both 12/10 https://t.c...",https://vine.co/v/5rgu2Law2ut,12.0,10.0,None,doggo,None,pupper,None
889,759793422261743616,2016-07-31 16:50:42,Twitter for iPhone,"Meet Maggie &amp; Lila. Maggie is the doggo, L...",https://twitter.com/dog_rates/status/759793422...,12.0,10.0,Maggie,doggo,None,pupper,None
956,751583847268179968,2016-07-09 01:08:47,Twitter for iPhone,Please stop sending it pictures that don't eve...,https://twitter.com/dog_rates/status/751583847...,5.0,10.0,None,doggo,None,pupper,None
1063,741067306818797568,2016-06-10 00:39:48,Twitter for iPhone,This is just downright precious af. 12/10 for ...,https://twitter.com/dog_rates/status/741067306...,12.0,10.0,just,doggo,None,pupper,None
1113,733109485275860992,2016-05-19 01:38:16,Twitter for iPhone,"Like father (doggo), like son (pupper). Both 1...",https://twitter.com/dog_rates/status/733109485...,12.0,10.0,None,doggo,None,pupper,None

    Modifications were made by returning to the original text.

In [28]:
# modify tweet_id: 817777686764523521
# tweet text: "This is Dido. She's playing the lead role in 
#"Pupper Stops to Catch Snow Before Resuming Shadow Box with Dried Apple." 13/10 (IG: didodoggo)"
tw_clean.loc[tw_clean.tweet_id == 817777686764523521 ,['doggo']] = 'None'

        In the tweet below (tweet_id = 808106460588765185), He rates are two dogs, pupper and doggo. We can divide this observation into 2 different observations.

In [29]:
# Replicate tweet_id: 808106460588765185
df = tw_clean.loc[tw_clean.tweet_id == 808106460588765185 ]
tw_clean = tw_clean.append(df, ignore_index=True)

In [30]:
# refresh table to get the new index of the replicate row
tw_clean[(tw_clean['doggo'] != 'None') & (tw_clean['pupper'] != 'None')]

,tweet_id,timestamp,source,text,expanded_urls,rating_numerator,rating_denominator,name,doggo,floofer,pupper,puppo
416,808106460588765185,2016-12-12 00:29:28,Twitter for iPhone,Here we have Burke (pupper) and Dexter (doggo)...,https://twitter.com/dog_rates/status/808106460...,12.0,10.0,None,doggo,None,pupper,None
446,801115127852503040,2016-11-22 17:28:25,Twitter for iPhone,This is Bones. He's being haunted by another d...,https://twitter.com/dog_rates/status/801115127...,12.0,10.0,Bones,doggo,None,pupper,None
536,785639753186217984,2016-10-11 00:34:48,Twitter for iPhone,This is Pinot. He's a sophisticated doggo. You...,https://twitter.com/dog_rates/status/785639753...,10.0,10.0,Pinot,doggo,None,pupper,None
562,781308096455073793,2016-09-29 01:42:20,Vine - Make a Scene,"Pupper butt 1, Doggo 0. Both 12/10 https://t.c...",https://vine.co/v/5rgu2Law2ut,12.0,10.0,None,doggo,None,pupper,None
689,759793422261743616,2016-07-31 16:50:42,Twitter for iPhone,"Meet Maggie &amp; Lila. Maggie is the doggo, L...",https://twitter.com/dog_rates/status/759793422...,12.0,10.0,Maggie,doggo,None,pupper,None
748,751583847268179968,2016-07-09 01:08:47,Twitter for iPhone,Please stop sending it pictures that don't eve...,https://twitter.com/dog_rates/status/751583847...,5.0,10.0,None,doggo,None,pupper,None
848,741067306818797568,2016-06-10 00:39:48,Twitter for iPhone,This is just downright precious af. 12/10 for ...,https://twitter.com/dog_rates/status/741067306...,12.0,10.0,just,doggo,None,pupper,None
897,733109485275860992,2016-05-19 01:38:16,Twitter for iPhone,"Like father (doggo), like son (pupper). Both 1...",https://twitter.com/dog_rates/status/733109485...,12.0,10.0,None,doggo,None,pupper,None
2097,808106460588765185,2016-12-12 00:29:28,Twitter for iPhone,Here we have Burke (pupper) and Dexter (doggo)...,https://twitter.com/dog_rates/status/808106460...,12.0,10.0,None,doggo,None,pupper,None

In [31]:
# Modify doggo in one row and pupper in the other row
tw_clean.loc[2097, 'doggo'] = 'None'
tw_clean.loc[416, 'pupper'] = 'None'

In [32]:
tw_clean[(tw_clean['doggo'] != 'None') & (tw_clean['pupper'] != 'None')]

,tweet_id,timestamp,source,text,expanded_urls,rating_numerator,rating_denominator,name,doggo,floofer,pupper,puppo
446,801115127852503040,2016-11-22 17:28:25,Twitter for iPhone,This is Bones. He's being haunted by another d...,https://twitter.com/dog_rates/status/801115127...,12.0,10.0,Bones,doggo,None,pupper,None
536,785639753186217984,2016-10-11 00:34:48,Twitter for iPhone,This is Pinot. He's a sophisticated doggo. You...,https://twitter.com/dog_rates/status/785639753...,10.0,10.0,Pinot,doggo,None,pupper,None
562,781308096455073793,2016-09-29 01:42:20,Vine - Make a Scene,"Pupper butt 1, Doggo 0. Both 12/10 https://t.c...",https://vine.co/v/5rgu2Law2ut,12.0,10.0,None,doggo,None,pupper,None
689,759793422261743616,2016-07-31 16:50:42,Twitter for iPhone,"Meet Maggie &amp; Lila. Maggie is the doggo, L...",https://twitter.com/dog_rates/status/759793422...,12.0,10.0,Maggie,doggo,None,pupper,None
748,751583847268179968,2016-07-09 01:08:47,Twitter for iPhone,Please stop sending it pictures that don't eve...,https://twitter.com/dog_rates/status/751583847...,5.0,10.0,None,doggo,None,pupper,None
848,741067306818797568,2016-06-10 00:39:48,Twitter for iPhone,This is just downright precious af. 12/10 for ...,https://twitter.com/dog_rates/status/741067306...,12.0,10.0,just,doggo,None,pupper,None
897,733109485275860992,2016-05-19 01:38:16,Twitter for iPhone,"Like father (doggo), like son (pupper). Both 1...",https://twitter.com/dog_rates/status/733109485...,12.0,10.0,None,doggo,None,pupper,None

In [33]:
# tweet text "This is Bones. He's being haunted by another doggo of roughly the same size. 12/10 deep breaths 
# pupper everything's fine"
tw_clean.loc[tw_clean.tweet_id == 801115127852503040 ,['doggo']] = 'None'

# tweet text "This is Pinot. He's a sophisticated doggo. You can tell by the hat. Also pointier than your average pupper. 
# Still 10/10 would pet cautiously"
tw_clean.loc[tw_clean.tweet_id == 785639753186217984 ,['pupper']] = 'None'

In [34]:
# Text tweetPupper butt 1, Doggo 0. Both 12/10

# Replicate tweet_id: 781308096455073793
df = tw_clean.loc[tw_clean.tweet_id == 781308096455073793 ]
tw_clean = tw_clean.append(df, ignore_index=True)

In [35]:
# Modify doggo in one row and pupper in the other row
tw_clean.loc[2098, 'doggo'] = 'None'
tw_clean.loc[562, 'pupper'] = 'None'

In [36]:
tw_clean[(tw_clean['doggo'] != 'None') & (tw_clean['pupper'] != 'None')]

,tweet_id,timestamp,source,text,expanded_urls,rating_numerator,rating_denominator,name,doggo,floofer,pupper,puppo
689,759793422261743616,2016-07-31 16:50:42,Twitter for iPhone,"Meet Maggie &amp; Lila. Maggie is the doggo, L...",https://twitter.com/dog_rates/status/759793422...,12.0,10.0,Maggie,doggo,None,pupper,None
748,751583847268179968,2016-07-09 01:08:47,Twitter for iPhone,Please stop sending it pictures that don't eve...,https://twitter.com/dog_rates/status/751583847...,5.0,10.0,None,doggo,None,pupper,None
848,741067306818797568,2016-06-10 00:39:48,Twitter for iPhone,This is just downright precious af. 12/10 for ...,https://twitter.com/dog_rates/status/741067306...,12.0,10.0,just,doggo,None,pupper,None
897,733109485275860992,2016-05-19 01:38:16,Twitter for iPhone,"Like father (doggo), like son (pupper). Both 1...",https://twitter.com/dog_rates/status/733109485...,12.0,10.0,None,doggo,None,pupper,None

In [37]:
# tweet text: "Meet Maggie & Lila. Maggie is the doggo, Lila is the pupper. 
#They are sisters. Both 12/10 would pet at the same time"

# Replicate tweet_id: 759793422261743616
df = tw_clean.loc[tw_clean.tweet_id == 759793422261743616 ]
tw_clean = tw_clean.append(df, ignore_index=True)

In [38]:
# Modify doggo in one row and pupper in the other row
tw_clean.loc[689, 'pupper'] = 'None'
# Modify doggo in one row and pupper in the other row
tw_clean.loc[2099, 'doggo'] = 'None'
tw_clean.loc[689, 'name'] = 'Lila'

In [39]:
tw_clean[(tw_clean['doggo'] != 'None') & (tw_clean['pupper'] != 'None')]

,tweet_id,timestamp,source,text,expanded_urls,rating_numerator,rating_denominator,name,doggo,floofer,pupper,puppo
748,751583847268179968,2016-07-09 01:08:47,Twitter for iPhone,Please stop sending it pictures that don't eve...,https://twitter.com/dog_rates/status/751583847...,5.0,10.0,None,doggo,None,pupper,None
848,741067306818797568,2016-06-10 00:39:48,Twitter for iPhone,This is just downright precious af. 12/10 for ...,https://twitter.com/dog_rates/status/741067306...,12.0,10.0,just,doggo,None,pupper,None
897,733109485275860992,2016-05-19 01:38:16,Twitter for iPhone,"Like father (doggo), like son (pupper). Both 1...",https://twitter.com/dog_rates/status/733109485...,12.0,10.0,None,doggo,None,pupper,None

In [40]:
# tweet text:  Please stop sending it pictures that don't even have a doggo or pupper in them.
# Churlish af. 5/10 neat couch tho

tw_clean.loc[tw_clean.tweet_id == 751583847268179968 ,['doggo','pupper']] = 'None'

In [41]:
tw_clean[(tw_clean['doggo'] != 'None') & (tw_clean['pupper'] != 'None')]

,tweet_id,timestamp,source,text,expanded_urls,rating_numerator,rating_denominator,name,doggo,floofer,pupper,puppo
848,741067306818797568,2016-06-10 00:39:48,Twitter for iPhone,This is just downright precious af. 12/10 for ...,https://twitter.com/dog_rates/status/741067306...,12.0,10.0,just,doggo,None,pupper,None
897,733109485275860992,2016-05-19 01:38:16,Twitter for iPhone,"Like father (doggo), like son (pupper). Both 1...",https://twitter.com/dog_rates/status/733109485...,12.0,10.0,None,doggo,None,pupper,None

In [42]:
# tweet text: "This is just downright precious af. 12/10 for both pupper and doggo"

# Replicate tweet_id: 741067306818797568
df = tw_clean.loc[tw_clean.tweet_id == 741067306818797568 ]
tw_clean = tw_clean.append(df, ignore_index=True)

In [43]:
tw_clean[(tw_clean['doggo'] != 'None') & (tw_clean['pupper'] != 'None')]

,tweet_id,timestamp,source,text,expanded_urls,rating_numerator,rating_denominator,name,doggo,floofer,pupper,puppo
848,741067306818797568,2016-06-10 00:39:48,Twitter for iPhone,This is just downright precious af. 12/10 for ...,https://twitter.com/dog_rates/status/741067306...,12.0,10.0,just,doggo,None,pupper,None
897,733109485275860992,2016-05-19 01:38:16,Twitter for iPhone,"Like father (doggo), like son (pupper). Both 1...",https://twitter.com/dog_rates/status/733109485...,12.0,10.0,None,doggo,None,pupper,None
2100,741067306818797568,2016-06-10 00:39:48,Twitter for iPhone,This is just downright precious af. 12/10 for ...,https://twitter.com/dog_rates/status/741067306...,12.0,10.0,just,doggo,None,pupper,None

In [44]:
# Modify doggo in one row and pupper in the other row
tw_clean.loc[2100, 'doggo'] = 'None'
tw_clean.loc[848, 'pupper'] = 'None'

In [45]:
tw_clean[(tw_clean['doggo'] != 'None') & (tw_clean['pupper'] != 'None')]

,tweet_id,timestamp,source,text,expanded_urls,rating_numerator,rating_denominator,name,doggo,floofer,pupper,puppo
897,733109485275860992,2016-05-19 01:38:16,Twitter for iPhone,"Like father (doggo), like son (pupper). Both 1...",https://twitter.com/dog_rates/status/733109485...,12.0,10.0,None,doggo,None,pupper,None

In [46]:
# tweet text: "Like father (doggo), like son (pupper). Both 12/10"

# Replicate tweet_id: 733109485275860992
df = tw_clean.loc[tw_clean.tweet_id == 733109485275860992 ]
tw_clean = tw_clean.append(df, ignore_index=True)
tw_clean[(tw_clean['doggo'] != 'None') & (tw_clean['pupper'] != 'None')]

,tweet_id,timestamp,source,text,expanded_urls,rating_numerator,rating_denominator,name,doggo,floofer,pupper,puppo
897,733109485275860992,2016-05-19 01:38:16,Twitter for iPhone,"Like father (doggo), like son (pupper). Both 1...",https://twitter.com/dog_rates/status/733109485...,12.0,10.0,None,doggo,None,pupper,None
2101,733109485275860992,2016-05-19 01:38:16,Twitter for iPhone,"Like father (doggo), like son (pupper). Both 1...",https://twitter.com/dog_rates/status/733109485...,12.0,10.0,None,doggo,None,pupper,None

In [47]:
# Modify doggo in one row and pupper in the other row
tw_clean.loc[2101, 'doggo'] = 'None'
tw_clean.loc[897, 'pupper'] = 'None'

##### Test

In [48]:
tw_clean[(tw_clean['doggo'] != 'None') & (tw_clean['pupper'] != 'None')]

Empty DataFrame
Columns: [tweet_id, timestamp, source, text, expanded_urls, rating_numerator, rating_denominator, name, doggo, floofer, pupper, puppo]
Index: []

In [49]:
tw_clean[(tw_clean['doggo'] != 'None') & (tw['floofer'] != 'None')]

/opt/conda/lib/python3.6/site-packages/ipykernel_launcher.py:1: UserWarning: Boolean Series key will be reindexed to match DataFrame index.
  """Entry point for launching an IPython kernel.

Empty DataFrame
Columns: [tweet_id, timestamp, source, text, expanded_urls, rating_numerator, rating_denominator, name, doggo, floofer, pupper, puppo]
Index: []

In [50]:
tw_clean[(tw_clean['doggo'] != 'None') & (tw_clean['puppo'] != 'None')]

Empty DataFrame
Columns: [tweet_id, timestamp, source, text, expanded_urls, rating_numerator, rating_denominator, name, doggo, floofer, pupper, puppo]
Index: []

In [51]:
tw_clean.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2102 entries, 0 to 2101
Data columns (total 12 columns):
tweet_id              2102 non-null int64
timestamp             2102 non-null datetime64[ns]
source                2102 non-null object
text                  2102 non-null object
expanded_urls         2099 non-null object
rating_numerator      2101 non-null float64
rating_denominator    2101 non-null float64
name                  2102 non-null object
doggo                 2102 non-null object
floofer               2102 non-null object
pupper                2102 non-null object
puppo                 2102 non-null object
dtypes: datetime64[ns](1), float64(2), int64(1), object(8)
memory usage: 197.1+ KB

#### One character or invalid name

##### Define
Remove or correct invalid dog names.
Invalid names usually are lowercase.

##### Code

In [52]:
tw_clean.name.sort_values()

808             Abby
821             Abby
732              Ace
1683            Acro
1108           Adele
1684           Aiden
68               Aja
372            Akumi
632               Al
676           Albert
1703          Albert
123            Albus
324            Albus
899          Aldrick
1793       Alejandro
294        Alexander
972     Alexanderson
377              Alf
1383           Alfie
662            Alfie
1982           Alfie
287            Alfie
47              Alfy
162            Alice
1463           Alice
1267           Amber
1114         Ambrose
1825             Amy
1939          Amélie
598           Anakin
            ...
1750           light
879              mad
657               my
779              not
263              not
1509      officially
989              old
1686             one
784              one
289              one
720              one
141            quite
156            quite
2067           quite
1779           space
21              such
1785             the
1371             the
2087             the
2086             the
1296             the
1956             the
1558             the
1576             the
904             this
905     unacceptable
817             very
1162            very
631             very
881             very
Name: name, Length: 2102, dtype: object

In [53]:
# There are 105 invalid names.
indices = tw_clean[tw_clean.name.str.islower()].index
tw_clean[tw_clean.name.str.islower()]

,tweet_id,timestamp,source,text,expanded_urls,rating_numerator,rating_denominator,name,doggo,floofer,pupper,puppo
21,887517139158093824,2017-07-19 03:39:09,Twitter for iPhone,I've yet to rate a Venezuelan Hover Wiener. Th...,https://twitter.com/dog_rates/status/887517139...,14.0,10.0,such,None,None,None,None
51,881536004380872706,2017-07-02 15:32:16,Twitter for iPhone,Here is a pupper approaching maximum borkdrive...,https://twitter.com/dog_rates/status/881536004...,14.0,10.0,a,None,None,pupper,None
141,859196978902773760,2017-05-02 00:04:57,Twitter for iPhone,We only rate dogs. This is quite clearly a smo...,https://twitter.com/dog_rates/status/859196978...,12.0,10.0,quite,None,None,None,None
156,855459453768019968,2017-04-21 16:33:22,Twitter for iPhone,"Guys, we only rate dogs. This is quite clearly...",https://twitter.com/dog_rates/status/855459453...,12.0,10.0,quite,None,None,None,None
263,832645525019123713,2017-02-17 17:38:57,Twitter Web Client,There's going to be a dog terminal at JFK Airp...,http://us.blastingnews.com/news/2017/02/jfk-an...,10.0,10.0,not,None,None,None,None
289,828650029636317184,2017-02-06 17:02:17,Twitter for iPhone,"Occasionally, we're sent fantastic stories. Th...",https://twitter.com/dog_rates/status/828650029...,14.0,10.0,one,None,None,None,None
424,806219024703037440,2016-12-06 19:29:28,Twitter for iPhone,We only rate dogs. Please stop sending in non-...,https://twitter.com/dog_rates/status/806219024...,11.0,10.0,incredibly,None,None,None,None
494,792913359805018113,2016-10-31 02:17:31,Twitter for iPhone,Here is a perfect example of someone who has t...,https://twitter.com/dog_rates/status/792913359...,13.0,10.0,a,None,None,None,None
616,772581559778025472,2016-09-04 23:46:12,Twitter for iPhone,Guys this is getting so out of hand. We only r...,https://twitter.com/dog_rates/status/772581559...,10.0,10.0,a,None,None,None,None
631,770655142660169732,2016-08-30 16:11:18,Twitter for iPhone,We only rate dogs. Pls stop sending in non-can...,https://twitter.com/dog_rates/status/770655142...,11.0,10.0,very,None,None,None,None
657,765395769549590528,2016-08-16 03:52:26,Twitter for iPhone,This is my dog. Her name is Zoey. She knows I'...,https://twitter.com/dog_rates/status/765395769...,13.0,10.0,my,None,None,None,None
720,755206590534418437,2016-07-19 01:04:16,Twitter for iPhone,This is one of the most inspirational stories ...,https://twitter.com/dog_rates/status/755206590...,14.0,10.0,one,doggo,None,None,None
779,748977405889503236,2016-07-01 20:31:43,Twitter for iPhone,What jokester sent in a pic without a dog in i...,https://twitter.com/dog_rates/status/748977405...,10.0,10.0,not,None,None,None,None
783,748692773788876800,2016-07-01 01:40:41,Twitter for iPhone,That is Quizno. This is his beach. He does not...,https://twitter.com/dog_rates/status/748692773...,10.0,10.0,his,doggo,None,None,None
784,748575535303884801,2016-06-30 17:54:50,Twitter for iPhone,This is one of the most reckless puppers I've ...,https://twitter.com/dog_rates/status/748575535...,6.0,10.0,one,None,None,None,None
793,747885874273214464,2016-06-28 20:14:22,Twitter for iPhone,This is a mighty rare blue-tailed hammer sherk...,https://twitter.com/dog_rates/status/747885874...,8.0,10.0,a,None,None,None,None
795,747816857231626240,2016-06-28 15:40:07,Twitter for iPhone,Viewer discretion is advised. This is a terrib...,https://twitter.com/dog_rates/status/747816857...,4.0,10.0,a,None,None,None,None
805,746872823977771008,2016-06-26 01:08:52,Twitter for iPhone,This is a carrot. We only rate dogs. Please on...,https://twitter.com/dog_rates/status/746872823...,11.0,10.0,a,None,None,None,None
811,746369468511756288,2016-06-24 15:48:42,Twitter for iPhone,This is an Iraqi Speed Kangaroo. It is not a d...,https://twitter.com/dog_rates/status/746369468...,9.0,10.0,an,None,None,None,None
817,745422732645535745,2016-06-22 01:06:43,Twitter for iPhone,We only rate dogs. Pls stop sending in non-can...,https://twitter.com/dog_rates/status/745422732...,9.0,10.0,very,None,None,None,None
826,744223424764059648,2016-06-18 17:41:06,Twitter for iPhone,This is actually a pupper and I'd pet it so we...,https://twitter.com/strange_animals/status/672...,12.0,10.0,actually,None,None,pupper,None
834,743222593470234624,2016-06-15 23:24:09,Twitter for iPhone,This is a very rare Great Alaskan Bush Pupper....,https://twitter.com/dog_rates/status/743222593...,12.0,10.0,a,None,None,pupper,None
848,741067306818797568,2016-06-10 00:39:48,Twitter for iPhone,This is just downright precious af. 12/10 for ...,https://twitter.com/dog_rates/status/741067306...,12.0,10.0,just,doggo,None,None,None
856,740214038584557568,2016-06-07 16:09:13,Twitter for iPhone,This is getting incredibly frustrating. This i...,https://twitter.com/dog_rates/status/740214038...,10.0,10.0,getting,None,None,None,None
879,736392552031657984,2016-05-28 03:04:00,Vine - Make a Scene,Say hello to mad pupper. You know what you did...,https://vine.co/v/iEggaEOiLO3,13.0,10.0,mad,None,None,pupper,None
881,736225175608430592,2016-05-27 15:58:54,Twitter for iPhone,We only rate dogs. Please stop sending in non-...,https://twitter.com/dog_rates/status/736225175...,10.0,10.0,very,None,None,None,None
904,731156023742988288,2016-05-13 16:15:54,Twitter for iPhone,Say hello to this unbelievably well behaved sq...,https://twitter.com/dog_rates/status/731156023...,204.0,170.0,this,None,None,None,None
905,730924654643314689,2016-05-13 00:56:32,Twitter for iPhone,We only rate dogs. Pls stop sending non-canine...,https://twitter.com/dog_rates/status/730924654...,9.0,10.0,unacceptable,None,None,None,None
921,728035342121635841,2016-05-05 01:35:26,Twitter for iPhone,This is all I want in my life. 12/10 for super...,https://twitter.com/dog_rates/status/728035342...,12.0,10.0,all,None,None,pupper,None
976,717537687239008257,2016-04-06 02:21:30,Twitter for iPhone,People please. This is a Deadly Mediterranean ...,https://twitter.com/dog_rates/status/717537687...,11.0,10.0,a,None,None,None,None
...,...,...,...,...,...,...,...,...,...,...,...,...
1942,668815180734689280,2015-11-23 15:35:39,Twitter for iPhone,This is a wild Toblerone from Papua New Guinea...,https://twitter.com/dog_rates/status/668815180...,7.0,10.0,a,None,None,None,None
1948,668636665813057536,2015-11-23 03:46:18,Twitter for iPhone,This is an Irish Rigatoni terrier named Berta....,https://twitter.com/dog_rates/status/668636665...,10.0,10.0,an,None,None,None,None
1955,668614819948453888,2015-11-23 02:19:29,Twitter for iPhone,Here is a horned dog. Much grace. Can jump ove...,https://twitter.com/dog_rates/status/668614819...,7.0,10.0,a,None,None,None,None
1956,668587383441514497,2015-11-23 00:30:28,Vine - Make a Scene,Never forget this vine. You will not stop watc...,https://vine.co/v/ea0OwvPTx9l,13.0,10.0,the,None,None,None,None
1962,668507509523615744,2015-11-22 19:13:05,Twitter for iPhone,This is a Birmingham Quagmire named Chuk. Love...,https://twitter.com/dog_rates/status/668507509...,10.0,10.0,a,None,None,None,None
1966,668466899341221888,2015-11-22 16:31:42,Twitter for iPhone,Here is a mother dog caring for her pups. Snaz...,https://twitter.com/dog_rates/status/668466899...,4.0,10.0,a,None,None,None,None
1979,668171859951755264,2015-11-21 20:59:20,Twitter for iPhone,This is a Trans Siberian Kellogg named Alfonso...,https://twitter.com/dog_rates/status/668171859...,7.0,10.0,a,None,None,None,None
1993,667861340749471744,2015-11-21 00:25:26,Twitter for iPhone,This is a Shotokon Macadamia mix named Cheryl....,https://twitter.com/dog_rates/status/667861340...,9.0,10.0,a,None,None,None,None
1999,667773195014021121,2015-11-20 18:35:10,Twitter Web Client,This is a rare Hungarian Pinot named Jessiga. ...,https://twitter.com/dog_rates/status/667773195...,8.0,10.0,a,None,None,None,None
2006,667538891197542400,2015-11-20 03:04:08,Twitter Web Client,This is a southwest Coriander named Klint. Hat...,https://twitter.com/dog_rates/status/667538891...,9.0,10.0,a,None,None,None,None
2015,667470559035432960,2015-11-19 22:32:36,Twitter Web Client,This is a northern Wahoo named Kohl. He runs t...,https://twitter.com/dog_rates/status/667470559...,11.0,10.0,a,None,None,None,None
2029,667177989038297088,2015-11-19 03:10:02,Twitter for iPhone,This is a Dasani Kingfisher from Maine. His na...,https://twitter.com/dog_rates/status/667177989...,8.0,10.0,a,None,None,None,None
2045,666983947667116034,2015-11-18 14:18:59,Twitter for iPhone,This is a curly Ticonderoga named Pepe. No fee...,https://twitter.com/dog_rates/status/666983947...,11.0,10.0,a,None,None,None,None
2052,666781792255496192,2015-11-18 00:55:42,Twitter for iPhone,This is a purebred Bacardi named Octaviath. Ca...,https://twitter.com/dog_rates/status/666781792...,10.0,10.0,a,None,None,None,None
2055,666701168228331520,2015-11-17 19:35:19,Twitter for iPhone,This is a golden Buckminsterfullerene named Jo...,https://twitter.com/dog_rates/status/666701168...,8.0,10.0,a,None,None,None,None
2067,666411507551481857,2015-11-17 00:24:19,Twitter for iPhone,This is quite the dog. Gets really excited whe...,https://twitter.com/dog_rates/status/666411507...,2.0,10.0,quite,None,None,None,None
2068,666407126856765440,2015-11-17 00:06:54,Twitter for iPhone,This is a southern Vesuvius bumblegruff. Can d...,https://twitter.com/dog_rates/status/666407126...,7.0,10.0,a,None,None,None,None
2074,666337882303524864,2015-11-16 19:31:45,Twitter for iPhone,This is an extremely rare horned Parthenon. No...,https://twitter.com/dog_rates/status/666337882...,9.0,10.0,an,None,None,None,None
2075,666293911632134144,2015-11-16 16:37:02,Twitter for iPhone,This is a funny dog. Weird toes. Won't come do...,https://twitter.com/dog_rates/status/666293911...,3.0,10.0,a,None,None,None,None
2076,666287406224695296,2015-11-16 16:11:11,Twitter for iPhone,This is an Albanian 3 1/2 legged Episcopalian...,https://twitter.com/dog_rates/status/666287406...,9.0,10.0,an,None,None,None,None
2086,666063827256086533,2015-11-16 01:22:45,Twitter for iPhone,This is the happiest dog you will ever see. Ve...,https://twitter.com/dog_rates/status/666063827...,10.0,10.0,the,None,None,None,None
2087,666058600524156928,2015-11-16 01:01:59,Twitter for iPhone,Here is the Rand Paul of retrievers folks! He'...,https://twitter.com/dog_rates/status/666058600...,8.0,10.0,the,None,None,None,None
2088,666057090499244032,2015-11-16 00:55:59,Twitter for iPhone,My oh my. This is a rare blond Canadian terrie...,https://twitter.com/dog_rates/status/666057090...,9.0,10.0,a,None,None,None,None
2089,666055525042405380,2015-11-16 00:49:46,Twitter for iPhone,Here is a Siberian heavily armored polar bear ...,https://twitter.com/dog_rates/status/666055525...,10.0,10.0,a,None,None,None,None
2090,666051853826850816,2015-11-16 00:35:11,Twitter for iPhone,This is an odd dog. Hard on the outside but lo...,https://twitter.com/dog_rates/status/666051853...,2.0,10.0,an,None,None,None,None
2091,666050758794694657,2015-11-16 00:30:50,Twitter for iPhone,This is a truly beautiful English Wilson Staff...,https://twitter.com/dog_rates/status/666050758...,10.0,10.0,a,None,None,None,None
2093,666044226329800704,2015-11-16 00:04:52,Twitter for iPhone,This is a purebred Piers Morgan. Loves to Netf...,https://twitter.com/dog_rates/status/666044226...,6.0,10.0,a,None,None,None,None
2094,666033412701032449,2015-11-15 23:21:54,Twitter for iPhone,Here is a very happy pup. Big fan of well-main...,https://twitter.com/dog_rates/status/666033412...,9.0,10.0,a,None,None,None,None
2095,666029285002620928,2015-11-15 23:05:30,Twitter for iPhone,This is a western brown Mitsubishi terrier. Up...,https://twitter.com/dog_rates/status/666029285...,7.0,10.0,a,None,None,None,None
2100,741067306818797568,2016-06-10 00:39:48,Twitter for iPhone,This is just downright precious af. 12/10 for ...,https://twitter.com/dog_rates/status/741067306...,12.0,10.0,just,None,None,pupper,None

I checked some text of the above tweets. There is no name of the rated dogs.

In [54]:
tw_clean.loc[indices, 'name'] = 'None'

##### Test

In [55]:
tw_clean[tw_clean.name.str.islower()]

Empty DataFrame
Columns: [tweet_id, timestamp, source, text, expanded_urls, rating_numerator, rating_denominator, name, doggo, floofer, pupper, puppo]
Index: []

#### Values in doggo, floofer, pupper and puppo columns are bad represented

##### Define

Transform doggo,floofer, pupper and	puppo variables to a dummy variables:
- Remplace doggo,floofer, pupper and puppo **values** in doggo,	floofer, pupper and puppo **columns** by **1**.
- Remplace None **values** in doggo, floofer, pupper and puppo **columns** by **0**.

##### Code

In [56]:
tw_clean1 = tw_clean.copy()

In [57]:
tw_clean.replace({'doggo': 'None'}, {'doggo': 0}, inplace = True)
tw_clean.replace({'floofer': 'None'}, {'floofer': 0}, inplace = True)
tw_clean.replace({'pupper': 'None'}, {'pupper': 0}, inplace = True)
tw_clean.replace({'puppo': 'None'}, {'puppo': 0}, inplace = True)
tw_clean.replace(['doggo','floofer','pupper','puppo'], 1, inplace = True)

##### Test

In [58]:
tw_clean.head(10)

,tweet_id,timestamp,source,text,expanded_urls,rating_numerator,rating_denominator,name,doggo,floofer,pupper,puppo
0,892420643555336193,2017-08-01 16:23:56,Twitter for iPhone,This is Phineas. He's a mystical boy. Only eve...,https://twitter.com/dog_rates/status/892420643...,13.0,10.0,Phineas,0,0,0,0
1,892177421306343426,2017-08-01 00:17:27,Twitter for iPhone,This is Tilly. She's just checking pup on you....,https://twitter.com/dog_rates/status/892177421...,13.0,10.0,Tilly,0,0,0,0
2,891815181378084864,2017-07-31 00:18:03,Twitter for iPhone,This is Archie. He is a rare Norwegian Pouncin...,https://twitter.com/dog_rates/status/891815181...,12.0,10.0,Archie,0,0,0,0
3,891689557279858688,2017-07-30 15:58:51,Twitter for iPhone,This is Darla. She commenced a snooze mid meal...,https://twitter.com/dog_rates/status/891689557...,13.0,10.0,Darla,0,0,0,0
4,891327558926688256,2017-07-29 16:00:24,Twitter for iPhone,This is Franklin. He would like you to stop ca...,https://twitter.com/dog_rates/status/891327558...,12.0,10.0,Franklin,0,0,0,0
5,891087950875897856,2017-07-29 00:08:17,Twitter for iPhone,Here we have a majestic great white breaching ...,https://twitter.com/dog_rates/status/891087950...,13.0,10.0,None,0,0,0,0
6,890971913173991426,2017-07-28 16:27:12,Twitter for iPhone,Meet Jax. He enjoys ice cream so much he gets ...,"https://gofundme.com/ydvmve-surgery-for-jax,ht...",13.0,10.0,Jax,0,0,0,0
7,890729181411237888,2017-07-28 00:22:40,Twitter for iPhone,When you watch your owner call another dog a g...,https://twitter.com/dog_rates/status/890729181...,13.0,10.0,None,0,0,0,0
8,890609185150312448,2017-07-27 16:25:51,Twitter for iPhone,This is Zoey. She doesn't want to be one of th...,https://twitter.com/dog_rates/status/890609185...,13.0,10.0,Zoey,0,0,0,0
9,890240255349198849,2017-07-26 15:59:51,Twitter for iPhone,This is Cassie. She is a college pup. Studying...,https://twitter.com/dog_rates/status/890240255...,14.0,10.0,Cassie,1,0,0,0

In [59]:
tw_clean.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2102 entries, 0 to 2101
Data columns (total 12 columns):
tweet_id              2102 non-null int64
timestamp             2102 non-null datetime64[ns]
source                2102 non-null object
text                  2102 non-null object
expanded_urls         2099 non-null object
rating_numerator      2101 non-null float64
rating_denominator    2101 non-null float64
name                  2102 non-null object
doggo                 2102 non-null int64
floofer               2102 non-null int64
pupper                2102 non-null int64
puppo                 2102 non-null int64
dtypes: datetime64[ns](1), float64(2), int64(5), object(4)
memory usage: 197.1+ KB

In [60]:
tw_clean.doggo.value_counts()

0    2024
1      78
Name: doggo, dtype: int64

#### Null values are represented differently
in the tw table, sometimes by None and sometimes by NaN.

##### Define

NaNs represent missing values in rating columns. Nones represent missing vales in name and stage columns. Can I say that is a concistency issue? A debate on the defference between them can be found ine reference [2]. For the moment, I leave them as they are.

### 2. Image prediction: im table

#### There are duplicate records.

##### Define

Remove duplicate rows

##### Code

In [61]:
im_clean.drop_duplicates(inplace=True)

##### Test

In [62]:
sum(im_clean.duplicated())

0

### 3. Twitter archive Extension : tw_ext table

#### Erroneous datatypes
Type of tweet_id, favorite_count and retweet_count is string not integer.

##### Define

Modify type of the varibale using astype() method

##### Code

In [63]:
tw_ext_clean.tweet_id       = tw_ext_clean.tweet_id.astype(int)
tw_ext_clean.favorite_count = tw_ext_clean.favorite_count.astype(int)
tw_ext_clean.retweet_count  = tw_ext_clean.retweet_count.astype(int)

##### Test

In [64]:
tw_ext_clean.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2342 entries, 0 to 2341
Data columns (total 4 columns):
retweet_count     2342 non-null int64
truncated         2342 non-null object
favorite_count    2342 non-null int64
tweet_id          2342 non-null int64
dtypes: int64(3), object(1)
memory usage: 73.3+ KB

#### 'truncated' column has one value: False

##### Define

Remove 'truncated' column

##### Code

In [65]:
# truncated column contains one value: False. I will remove it
tw_ext_clean.drop(['truncated'], axis = 1, inplace = True)

##### Test

In [66]:
tw_ext_clean.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2342 entries, 0 to 2341
Data columns (total 3 columns):
retweet_count     2342 non-null int64
favorite_count    2342 non-null int64
tweet_id          2342 non-null int64
dtypes: int64(3)
memory usage: 55.0 KB

### <span style="color:blue">B. Tidiness</span>

### Twitter archive: tw table

#### doggo, floofer, pupper and puppo columns should be merged into one column: stage

##### Define

Melt doggo, floofer, pupper and puppo columns to stage column.
Reconstruct a categorical variable from dummies.

##### Code

In [67]:
# Reconstruct a categorical variable from dummies
tw_clean['stage'] = tw_clean[['doggo','floofer','pupper','puppo']].idxmax(axis=1)
#  Create mask for 0 value in doggo floofer pupper puppo
mask = (tw_clean['doggo'] == 0) & (tw_clean['floofer'] == 0) & (tw_clean['pupper'] == 0) & (tw_clean['puppo'] == 0) 
# set satge value to None if all doggo floofer pupper puppo values are 0
tw_clean.loc[mask, 'stage'] = 'None'
# remove  doggo floofer pupper puppo columns
tw_clean.drop(['doggo','floofer','pupper','puppo'], axis = 1, inplace = True)

##### Test

In [68]:
tw_clean.head(10)

,tweet_id,timestamp,source,text,expanded_urls,rating_numerator,rating_denominator,name,stage
0,892420643555336193,2017-08-01 16:23:56,Twitter for iPhone,This is Phineas. He's a mystical boy. Only eve...,https://twitter.com/dog_rates/status/892420643...,13.0,10.0,Phineas,None
1,892177421306343426,2017-08-01 00:17:27,Twitter for iPhone,This is Tilly. She's just checking pup on you....,https://twitter.com/dog_rates/status/892177421...,13.0,10.0,Tilly,None
2,891815181378084864,2017-07-31 00:18:03,Twitter for iPhone,This is Archie. He is a rare Norwegian Pouncin...,https://twitter.com/dog_rates/status/891815181...,12.0,10.0,Archie,None
3,891689557279858688,2017-07-30 15:58:51,Twitter for iPhone,This is Darla. She commenced a snooze mid meal...,https://twitter.com/dog_rates/status/891689557...,13.0,10.0,Darla,None
4,891327558926688256,2017-07-29 16:00:24,Twitter for iPhone,This is Franklin. He would like you to stop ca...,https://twitter.com/dog_rates/status/891327558...,12.0,10.0,Franklin,None
5,891087950875897856,2017-07-29 00:08:17,Twitter for iPhone,Here we have a majestic great white breaching ...,https://twitter.com/dog_rates/status/891087950...,13.0,10.0,None,None
6,890971913173991426,2017-07-28 16:27:12,Twitter for iPhone,Meet Jax. He enjoys ice cream so much he gets ...,"https://gofundme.com/ydvmve-surgery-for-jax,ht...",13.0,10.0,Jax,None
7,890729181411237888,2017-07-28 00:22:40,Twitter for iPhone,When you watch your owner call another dog a g...,https://twitter.com/dog_rates/status/890729181...,13.0,10.0,None,None
8,890609185150312448,2017-07-27 16:25:51,Twitter for iPhone,This is Zoey. She doesn't want to be one of th...,https://twitter.com/dog_rates/status/890609185...,13.0,10.0,Zoey,None
9,890240255349198849,2017-07-26 15:59:51,Twitter for iPhone,This is Cassie. She is a college pup. Studying...,https://twitter.com/dog_rates/status/890240255...,14.0,10.0,Cassie,doggo

In [69]:
tw_clean.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2102 entries, 0 to 2101
Data columns (total 9 columns):
tweet_id              2102 non-null int64
timestamp             2102 non-null datetime64[ns]
source                2102 non-null object
text                  2102 non-null object
expanded_urls         2099 non-null object
rating_numerator      2101 non-null float64
rating_denominator    2101 non-null float64
name                  2102 non-null object
stage                 2102 non-null object
dtypes: datetime64[ns](1), float64(2), int64(1), object(5)
memory usage: 147.9+ KB

#### Rating values should be one column

##### Define

Add a nex column 'Rating' and assign it the result of (rating_numerator/rating_denominator)

##### Code

In [70]:
tw_clean['Rating'] = tw_clean.rating_numerator/tw_clean.rating_denominator
tw_clean = tw_clean.drop(['rating_numerator','rating_denominator'], axis =1 )

##### Test

In [71]:
tw_clean.head()

,tweet_id,timestamp,source,text,expanded_urls,name,stage,Rating
0,892420643555336193,2017-08-01 16:23:56,Twitter for iPhone,This is Phineas. He's a mystical boy. Only eve...,https://twitter.com/dog_rates/status/892420643...,Phineas,None,1.3
1,892177421306343426,2017-08-01 00:17:27,Twitter for iPhone,This is Tilly. She's just checking pup on you....,https://twitter.com/dog_rates/status/892177421...,Tilly,None,1.3
2,891815181378084864,2017-07-31 00:18:03,Twitter for iPhone,This is Archie. He is a rare Norwegian Pouncin...,https://twitter.com/dog_rates/status/891815181...,Archie,None,1.2
3,891689557279858688,2017-07-30 15:58:51,Twitter for iPhone,This is Darla. She commenced a snooze mid meal...,https://twitter.com/dog_rates/status/891689557...,Darla,None,1.3
4,891327558926688256,2017-07-29 16:00:24,Twitter for iPhone,This is Franklin. He would like you to stop ca...,https://twitter.com/dog_rates/status/891327558...,Franklin,None,1.2

In [72]:
tw_clean.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2102 entries, 0 to 2101
Data columns (total 8 columns):
tweet_id         2102 non-null int64
timestamp        2102 non-null datetime64[ns]
source           2102 non-null object
text             2102 non-null object
expanded_urls    2099 non-null object
name             2102 non-null object
stage            2102 non-null object
Rating           2101 non-null float64
dtypes: datetime64[ns](1), float64(1), int64(1), object(5)
memory usage: 131.5+ KB

### Image prediction : im table

####  Columns should be merged  
    2. p1, p2 and p3 columns should be merged into two columns: prediction algorithms and image prediction.
    3. p1_conf, p2_conf and p3_conf columns should be merged into one column: prediction coefficent.
    4. p1_dog, p2_dog and p3_dog should be merged into one column: is_a_Dog

##### Define

    Melt p1, p2 and p3 columns into two columns: 'pred_algo' and 'imag_pred'
    Melt p1_conf, p2_conf and p3_conf columns to one column: pred_coef.
    Melt p1_dog, p2_dog and p3_dog to one column: is_a_dog

##### Code

In [73]:
im_clean.head(2)

,tweet_id,jpg_url,img_num,p1,p1_conf,p1_dog,p2,p2_conf,p2_dog,p3,p3_conf,p3_dog
0,666020888022790149,https://pbs.twimg.com/media/CT4udn0WwAA0aMy.jpg,1,Welsh_springer_spaniel,0.465074,True,collie,0.156665,True,Shetland_sheepdog,0.061428,True
1,666029285002620928,https://pbs.twimg.com/media/CT42GRgUYAA5iDo.jpg,1,redbone,0.506826,True,miniature_pinscher,0.074192,True,Rhodesian_ridgeback,0.072010,True

In [74]:
im_clean = im_clean.set_index(['tweet_id','jpg_url','img_num']).sort_index(axis=1)

# extract primary columns
prim = im_clean.filter(like='1')
prim.columns = ['img_pred', 'pred_coef', 'is_a_dog']
# extract secondary columns 
sec = im_clean.filter(like='2')
sec.columns = ['img_pred', 'pred_coef', 'is_a_dog']
# extract tertiary columns 
rd = im_clean.filter(like='3')
rd.columns = ['img_pred', 'pred_coef', 'is_a_dog']

# concatenation + housekeeping
im_clean = (pd.concat([prim, sec, rd], keys=['algo1', 'algo2', 'algo3'])
       .swaplevel(0,1)
       .swaplevel(1,3)
       .swaplevel(1,2)
       .rename_axis(['tweet_id','jpg_url','img_num', 'pred_algo'])
       .reset_index()
)

##### Test

In [75]:
im_clean.head(3)

,tweet_id,jpg_url,img_num,pred_algo,img_pred,pred_coef,is_a_dog
0,666020888022790149,https://pbs.twimg.com/media/CT4udn0WwAA0aMy.jpg,1,algo1,Welsh_springer_spaniel,0.465074,True
1,666029285002620928,https://pbs.twimg.com/media/CT42GRgUYAA5iDo.jpg,1,algo1,redbone,0.506826,True
2,666033412701032449,https://pbs.twimg.com/media/CT4521TWwAEvMyu.jpg,1,algo1,German_shepherd,0.596461,True

In [76]:
im_clean.query('tweet_id == 666020888022790149')

,tweet_id,jpg_url,img_num,pred_algo,img_pred,pred_coef,is_a_dog
0,666020888022790149,https://pbs.twimg.com/media/CT4udn0WwAA0aMy.jpg,1,algo1,Welsh_springer_spaniel,0.465074,True
2075,666020888022790149,https://pbs.twimg.com/media/CT4udn0WwAA0aMy.jpg,1,algo2,collie,0.156665,True
4150,666020888022790149,https://pbs.twimg.com/media/CT4udn0WwAA0aMy.jpg,1,algo3,Shetland_sheepdog,0.061428,True

#### The 3 tables should be concatenated.

##### Define

Mege tw_clean, tw_ext_clean and im_clean tables on tweet_id. tweet without images will be discarded.

##### Code

In [77]:
rate_dogs = tw_clean.merge(tw_ext_clean, on = 'tweet_id')
rate_dogs = rate_dogs.merge(im_clean, on = 'tweet_id')

##### Test

In [78]:
rate_dogs.head(3)

,tweet_id,timestamp,source,text,expanded_urls,name,stage,Rating,retweet_count,favorite_count,jpg_url,img_num,pred_algo,img_pred,pred_coef,is_a_dog
0,892420643555336193,2017-08-01 16:23:56,Twitter for iPhone,This is Phineas. He's a mystical boy. Only eve...,https://twitter.com/dog_rates/status/892420643...,Phineas,None,1.3,8345,38136,https://pbs.twimg.com/media/DGKD1-bXoAAIAUK.jpg,1,algo1,orange,0.097049,False
1,892420643555336193,2017-08-01 16:23:56,Twitter for iPhone,This is Phineas. He's a mystical boy. Only eve...,https://twitter.com/dog_rates/status/892420643...,Phineas,None,1.3,8345,38136,https://pbs.twimg.com/media/DGKD1-bXoAAIAUK.jpg,1,algo2,bagel,0.085851,False
2,892420643555336193,2017-08-01 16:23:56,Twitter for iPhone,This is Phineas. He's a mystical boy. Only eve...,https://twitter.com/dog_rates/status/892420643...,Phineas,None,1.3,8345,38136,https://pbs.twimg.com/media/DGKD1-bXoAAIAUK.jpg,1,algo3,banana,0.076110,False

In [79]:
rate_dogs.query('tweet_id == 666020888022790149')

,tweet_id,timestamp,source,text,expanded_urls,name,stage,Rating,retweet_count,favorite_count,jpg_url,img_num,pred_algo,img_pred,pred_coef,is_a_dog
5919,666020888022790149,2015-11-15 22:32:08,Twitter for iPhone,Here we have a Japanese Irish Setter. Lost eye...,https://twitter.com/dog_rates/status/666020888...,None,None,0.8,506,2537,https://pbs.twimg.com/media/CT4udn0WwAA0aMy.jpg,1,algo1,Welsh_springer_spaniel,0.465074,True
5920,666020888022790149,2015-11-15 22:32:08,Twitter for iPhone,Here we have a Japanese Irish Setter. Lost eye...,https://twitter.com/dog_rates/status/666020888...,None,None,0.8,506,2537,https://pbs.twimg.com/media/CT4udn0WwAA0aMy.jpg,1,algo2,collie,0.156665,True
5921,666020888022790149,2015-11-15 22:32:08,Twitter for iPhone,Here we have a Japanese Irish Setter. Lost eye...,https://twitter.com/dog_rates/status/666020888...,None,None,0.8,506,2537,https://pbs.twimg.com/media/CT4udn0WwAA0aMy.jpg,1,algo3,Shetland_sheepdog,0.061428,True

# Storing combined and cleaned data

In [80]:
rate_dogs.to_csv('twitter_archive_master.csv', index = False)

# Anayze and Visualize cleaned data

You can find an analysis and visualization of the cleaned data in act_report.html file.

# Reference

   * [[1]](https://medium.com/@jorlugaqui/how-to-strip-html-tags-from-a-string-in-python-7cb81a2bbf44)How to strip html tags from a string in Python.
   * [[2]](https://stackoverflow.com/questions/17534106/what-is-the-difference-between-nan-and-none) What is the difference between NaN and None?
   * [[3]](https://stackoverflow.com/questions/26762100/reconstruct-a-categorical-variable-from-dummies-in-pandas) Reconstruct a categorical variable from dummies in pandas.
   * [[4]](https://stackoverflow.com/questions/50770021/pandas-melt-multiple-groups-into-single-column) Melt multiple groups into single column.

In [2]:
from subprocess import call
call(['python', '-m', 'nbconvert', 'wrangle_act.ipynb'])

0

In [ ]:
!tar chvfz notebook.tar.gz *